<%-include("head");-%>
<section class="adminPage messages">
    <%-include("adminSidebar");-%>
    <section class="contents">
        <div class="container-fluid">
            <div class="top">
                <div class="search">
                    <input type="text" placeholder="جستجوی پیام ها" />
                    <a onclick="submit_form(); return false;"><i class="fal fa-search"></i></a>
                </div>
                <div class="second">
                    <div class="date">
                        <input type="date" />
                        <div class="buttons">
                            <button type="submit">
                                تایید
                            </button>
                        </div>
                    </div>
                    <div class="sorting">
                        <div class="shownSort">
                            <label class="selectedSort">
                                جدیدترین
                            </label>
                            <i class="fal fa-sort-amount-down-alt"></i>
                        </div>
                        <label for="old" class="sortOption" id="old">قدیمی ترین</label>
                    </div>
                </div>
            </div>

            <!-- Tabs navs -->
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active"
                       id="acceptedH"
                       data-mdb-toggle="tab"
                       href="#acceptedC"
                       role="tab"
                       aria-controls="acceptedC"
                       aria-selected="true">دیده شده</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link"
                       id="queueH"
                       data-mdb-toggle="tab"
                       href="#queueC"
                       role="tab"
                       aria-controls="queueC"
                       aria-selected="false">در انتظار</a>
                </li>
            </ul>
            <!-- Tabs navs -->
            <!-- Tabs content -->
            <div class="tab-content" id="ex2-content">
                <div class="tab-pane fade show active"
                     id="acceptedC"
                     role="tabpanel"
                     aria-labelledby="acceptedH">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="card productCard">
                                <div class="cardTop">
                                    <div class="detail">
                                        <span class="title">
                                            عنوان پیام
                                        </span>

                                        <span class="dateAdded">
                                            18/12/99
                                        </span>
                                        <a href="#">
                                            نام کاربر
                                            <i class="fal fa-user"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <button type="button"
                                            data-mdb-toggle="modal"
                                            data-mdb-target="#answerModal">
                                        مشاهده
                                        <i class="fal fa-eye"></i>
                                    </button>
                                    <div class="modal fade"
                                         id="answerModal"
                                         tabindex="-1"
                                         aria-labelledby="exampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <p>
                                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                                    </p>
                                                    <textarea placeholder="پاسخ شما"></textarea>
                                                    <div class="buttons">
                                                        <button type="submit">
                                                            ارسال پاسخ
                                                            <i class="fal fa-check"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade"
                     id="queueC"
                     role="tabpanel"
                     aria-labelledby="queueH">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="card productCard">
                                <div class="cardTop">
                                    <div class="detail">
                                        <span class="title">
                                            عنوان پیام
                                        </span>

                                        <span class="dateAdded">
                                            18/12/99
                                        </span>
                                        <a href="#">
                                            نام کاربر
                                            <i class="fal fa-user"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <button type="button"
                                            data-mdb-toggle="modal"
                                            data-mdb-target="#answerModal">
                                        مشاهده
                                        <i class="fal fa-eye"></i>
                                    </button>
                                    <div class="modal fade"
                                         id="answerModal"
                                         tabindex="-1"
                                         aria-labelledby="exampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <p>
                                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                                    </p>
                                                    <textarea placeholder="پاسخ شما" resize="none"></textarea>
                                                    <div class="buttons">
                                                        <button type="submit">
                                                            ارسال پاسخ
                                                            <i class="fal fa-check"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tabs content -->

        </div>
    </section>
</section>

<%-include("scripts");-%>