<%-include("head");-%>
<section class="adminPage users">
    <%-include("adminSidebar");-%>
    <section class="contents">
        <div class="container-fluid">
            <div class="top">
                <div class="search">
                    <input type="text" placeholder="جستجوی کاربران" />
                    <a onclick="submit_form(); return false;"><i class="fal fa-search"></i></a>
                </div>
                <div class="sorting">
                    <div class="shownSort">
                        <label class="selectedSort">
                            جدیدترین 
                        </label>
                        <i class="fal fa-sort-amount-down-alt"></i>
                    </div>
                    <label for="new" class="sortOption selected" id="new">جدیدترین</label>
                    <label for="old" class="sortOption" id="old">قدیمی ترین</label>
                </div>
            </div>
            <div class="advanced">               
                <div class="filter">
                    <label>
                        وضعیت
                    </label>
                    <ul>
                        <li>
                            تایید شده
                        </li>
                        <li>
                            در انتظار تایید
                        </li>
                        <li>
                            اخیرا حذف شده
                        </li>
                    </ul>
                </div>
                <div class="date">
                    <input type="date" />
                </div>
                <div class="buttons">
                    <button type="submit">
                        اعمال تغییرات
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="card userCard">
                        <div class="picture">

                        </div>
                        <div class="detail">
                            <span class="name">

                            </span>
                            <span class="dateAdded">

                            </span>
                            <span class="status">

                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<%-include("scripts");-%>