<section class="adminPage home">
    <section class="sidebar">
        <div class="home item">
            <a href="./adminHome.ejs" >
                خانه
            </a>

        </div>
        <div class="users item">
            <a href="./adminHome.ejs">
                کاربران
            </a>
        </div>
        <div class="products item">
            <a href="./adminHome.ejs">
                محصولات
            </a>
        </div>
        <div class="messages item">
            <a href="./adminHome.ejs">
                پیام ها
            </a>
        </div>
        <div class="requests item">
            <a href="./adminHome.ejs" class="active">
                درخواست ها
            </a>
        </div>
    </section>
    <section class="contents">
    </section>
</section>