<section class="adminPage home">
    <section class="sidebar">
        <div class="home item">
            <a href="./adminHome.ejs" class="active">
                خانه
                <i class="fal fa-home"></i>
            </a>

        </div>
        <div class="users item">
            <a href="./adminHome.ejs">
                کاربران
                <i class="fal fa-user"></i>
            </a>
        </div>
        <div class="products item">
            <a href="./adminHome.ejs">
                محصولات
            </a>
        </div>
        <div class="messages item">
            <a href="./adminHome.ejs">
                پیام ها
                <i class="fal fa-comment-alt-lines"></i>
            </a>
        </div>
        <div class="requests item">
            <a href="./adminHome.ejs">
                درخواست ها
            </a>
        </div>
    </section>
    <section class="contents">
    </section>
</section>