<section class="sidebar">
    <div class="home item">
        <a href="/admin/home">
            خانه
            <i class="fal fa-home"></i>
        </a>

    </div>
    <div class="finance item">
        <a href="/admin/finance">
            مالی
            <i class="fal fa-dollar-sign"></i>
        </a>
    </div>
    <div class="users item">
        <a href="/admin/users">
            کاربران
            <i class="fal fa-user"></i>
        </a>
    </div>
    <div class="products item">
        <a href="/admin/products">
            محصولات
            <i class="fal fa-image"></i>

        </a>
    </div>
    <div class="messages item">
        <a href="/admin/messages">
            پیام ها
            <i class="fal fa-comment-alt-lines"></i>
        </a>
    </div>
    <div class="requests item">
        <a href="/admin/reqs">
            درخواست ها
        </a>
    </div>
</section>