<%-include("head");-%>
<section class="page cartPage">
    <%-include("headerN");-%>
    <section class="contents">
        <div class="container-fluid">
            <div class="row top">
                <div class="col-md-9 col-sm-12 items">
                    <div class="row middle">
                        <div class="col-md-12 col-lg-6">
                            <div class="card item">
                                <div class="row bottom">
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 image">
                                        <img src="../assets/images/test0.jpg" />
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9 detail">
                                        <h6 class="name">
                                            نام محصول
                                        </h6>
                                        <p class="price">
                                            <span>10000</span> تومان
                                        </p>
                                    </div>
                                    <div class="col-sm-12 buttons">
                                        <button type="submit" class="delete">
                                            حدف محصول
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 total">
                    <div class="card">
                        <div class="count">
                            <h4> تعداد کالاها </h4>
                            <p> 12 </p>
                        </div>
                        <div class="cost">
                            <h4> قیمت نهایی </h4>
                            <p> 124000 <span> تومان </span></p>
                        </div>
                        <div class="buttons">
                            <button type="submit" class="payment">
                                پرداخت نهایی
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%-include("footer");-%>
</section>
<%-include("scripts");-%>