<%-include("head");-%>


<section class="page dashboardPage">
    <%-include("headerN");-%>
    <section class="contents">
        <div class="container-fluid">
            <div class="top part">
                <div class="col-12 summary">
                    <div class="picture">
                        <!--<img src="" />-->
                        <i class="fal fa-user fa-3x"></i>
                    </div>
                    <div class="bottom">
                        <div class="name">
                            <p> alireza </p>
                        </div>
                        <div class="socialStats">
                            <div class="mail">
                                <a href="#"><i class="fal fa-envelope"></i></a>
                            </div>
                            <div class="instagram">

                                <a href="#"> <i class="fab fa-instagram"></i> </a>
                            </div>
                            <div class="twitter">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="productsCount">
                                <label> تعداد آثار:</label>
                                <p> 12 </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 col-sm-12 bio">
                    <p>
                         
                    </p>
                </div>
            </div>
            <div class="personalInfo part">
                <div class="header" onClick="openContent('personalInfo')">
                    <h4>
                        مشخصات شما
                        <i class="fal fa-angle-down"></i>
                    </h4>
                </div>
                <div class="collapseContent contentHidden">
                    <input name="firstName" type="firstName" placeholder="نام" />
                    <input name="lastName" type="lastName" placeholder="نام خانوادگی" />
                    <input name="userName" type="text" placeholder="نام کاربری" />
                    <input name="emial" type="email" class="mail" placeholder="ایمیل شما" />
                    <i class="fal fa-envelope"></i>
                    <input name="instagram" type="url" class="instagram" placeholder="لینک اینستاگرام شما" />
                    <i class="fab fa-instagram"></i>
                    <input name="twitter" type="url" class="twitter" placeholder="لینک توئیتر شما" />
                    <i class="fab fa-twitter"></i>
                    <textarea class="bio" placeholder="درباره شما..."></textarea>
                    <input name="profilePic" type="file" class="profilePic" />
                    <input name="password" type="password" class="passwordInput" placeholder="رمز عبور دلخواه" />
                    <input name="passwordRepeat" type="password" class="passwordInput" placeholder="تکرار رمز عبور" />
                    <div class="buttons">
                        <button type="button" class="edit" onclick="changeForm()">ویرایش</button>
                        <button type="submit" class="save hiddenButton after" onclick="changeForm()">دخیره</button>
                        <button type="submit" class="cancel hiddenButton after" onclick="changeForm()">لغو</button>
                    </div>

                </div>
            </div>
            <div class="stats part">
                <div class="header" onClick="openContent('stats')">
                    <h4>
                        عملکرد شما
                        <i class="fal fa-angle-down"></i>
                    </h4>
                </div>
                <div class="collapseContent contentHidden">
                    <div class="income">
                        <h6> درآمد شما </h6>
                    </div>
                    <div class="productCount">
                        <h6>  تعداد آثار شما </h6>
                    </div>
                    <div class="bestSeller">

                    </div>
                </div>
            </div>
            <div class="downloads part">
                <div class="header" onClick="openContent('downloads')">
                    <h4>
                        دانلودهای شما
                        <i class="fal fa-angle-down"></i>
                    </h4>
                </div>
                <div class="collapseContent contentHidden">
                    sdfghjkl;
                </div>
            </div>
            
        </div>
    </section>
    <%-include("footer");-%>
</section>

<%-include("scripts");-%>
<script src="/assets/js/dashboard.js"></script>