<!-- Scripts -->
<!-- MDB -->
<script type="text/javascript" src="/assets/MDB5-free/js/mdb.min.js"></script>
<!-- jQuery -->
<script type="text/javascript" src="/assets/jquery/jquery-3.5.1.js"></script>
<script type="text/javascript" src="/assets/jquery/jquery-3.5.1.min.js"></script>

<!-- Owl Carousel -->
    <script src="/assets/OwlCarousel2-2.3.4/docs/assets/owlcarousel/owl.carousel.min.js"></script>
    <script type="text/javascript">
        $('.owl-carousel').owlCarousel({
            items: 1,
            loop: false,
            nav: true,
            margin: 10,
            responsiveClass: true
        })

</script>

</body>

</html>
