<section class="header">
    <nav class="navbar">
        <div class="container-fluid">
            <!-- Collapsible wrapper -->
            <div class="navbar-collapse justify-content"
                 id="navbarCenteredExample">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">
                            <i class="fal fa-home"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Collapsible wrapper -->

            <div class="leftSide">
                <a href="/upload" class="uploadLink">
                    <i class="fal fa-cloud-upload"></i>
                </a>
                <a href="/login" class="profile">
                    <i class="fal fa-user"></i>
                </a>
                <% if(usersession) {%>
                <a href="/logout" class="signOut" title="خروج">
                    <i class="fal fa-sign-out"></i>
                </a>
                <%}%>

                <a href="/cart" class="cart" title="سبد خرید">
                    <i class="fal fa-shopping-bag"></i>
                    <% if(session.cart && session.cart.totalQty!=0) {%>
                    <span class="cartCount"><%=session.cart.totalQty%></span>
                    <%} %>

                </a>
            </div>
        </div>
    </nav>
    <div class="searchSection">
        <form name="searchForm" action="/search/home" method="post">
            <div class="general">
                <a onclick="submit_form(); return false;"><i class="fal fa-search"></i></a>
                <input type="text" name="searchedItem" placeholder="به دنبال چه هستید..." />
                
            </div>

        </form>
        
    </div>
</section>

<script>
function submit_form()
{
  document.searchForm.submit();
}
</script>
