<section class="header">
    <nav class="navbar">
        <div class="container-fluid">
            <!-- Collapsible wrapper -->
            <div class="navbar-collapse justify-content"
                 id="navbarCenteredExample">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">
                            <i class="fal fa-home"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Collapsible wrapper -->

            <div class="leftSide">
                <a href="/login" class="profile">
                    <i class="fal fa-user"></i>
                </a>
                <a href="#" class="signOut" title="خروج">
                    <i class="fal fa-sign-out"></i>
                </a>
                <a href="/cart" class="cart" title="سبد خرید">
                    <i class="fal fa-shopping-bag"></i>
                    <span class="cartCount">1</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="searchSection">
      <form name="searchForm" action="/search" method="post">
        <div class="general">




            <a  onclick="submit_form(); return false;"><i class="fal fa-search"></i></a>
            <input type="text" name="searchedItem" placeholder="به دنبال چه هستید..." />
            <i class="fal fa-angle-down"></i>
        </div>
        <div class="advanced advancedHidden">
            <div class="category">
                <lable class="title"> نوع </lable>

                <div class="options">
                    <input type="radio" id="photography" value="photography">
                    <label for="photography" class="radioLabel">عکاسی</label>

                    <input type="radio" id="graphic" value="graphic">
                    <label for="graphic" class="radioLabel">گرافیک</label>

                    <input type="radio" id="clip" value="clip">
                    <label for="clip" class="radioLabel">کلیپ</label>
                </div>
            </div>
            <div class="orientation">
                <lable class="title"> نسبت‌ابعاد </lable>
                <div class="options">
                    <input type="radio" id="portate" value="portrate">
                    <label for="portrate" class="radioLabel">عمودی</label>

                    <input type="radio" id="landscape" value="landscape">
                    <label for="landscape" class="radioLabel">افقی</label>

                    <input type="radio" id="square" value="square">
                    <label for="square" class="radioLabel">مربع</label>
                </div>
            </div>
            <div class="type">
                <lable class="title"> فایل </lable>
                <div class="options">
                    <input type="radio" id="portate" value="jpg">
                    <label for="jpg" class="radioLabel">jpg</label>

                    <input type="radio" id="portate" value="png">
                    <label for="png" class="radioLabel">png</label>

                    <input type="radio" id="portate" value="svg">
                    <label for="svg" class="radioLabel">svg</label>

                    <input type="radio" id="portate" value="psd">
                    <label for="psd" class="radioLabel">psd</label>

                </div>
            </div>
            <div class="price">
                <lable class="title"> قیمت </lable>
                <div class="options">
                    <input type="radio" id="free" value="free">
                    <label for="free" class="radioLabel">رایگان</label>

                    <input type="radio" id="money" value="money">
                    <label for="money" class="radioLabel">غیر رایگان</label>
                </div>
            </div>

            <div class="tag">
                <input type="text" placeholder="تگ های مورد نظر..." />
                <div class="usedTags">
                    <p><i class="fa fa-times" aria-hidden="true"></i> art </p>
                    <p><i class="fa fa-times" aria-hidden="true"></i> sunset </p>
                    <p><i class="fa fa-times" aria-hidden="true"></i> art </p>
                    <p><i class="fa fa-times" aria-hidden="true"></i> sunset </p>
                    <p><i class="fa fa-times" aria-hidden="true"></i> art </p>
                    <p><i class="fa fa-times" aria-hidden="true"></i> sunset </p>
                    <p><i class="fa fa-times" aria-hidden="true"></i> art </p>
                    <p><i class="fa fa-times" aria-hidden="true"></i> sunset </p>
                </div>
            </div>

        </div>
        </form>

    </div>
</section>

<script>
function submit_form()
{
  document.searchForm.submit();
}
</script>
