<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- Meta tags -->
    <meta charset="utf-16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Page Title -->
    <title>Honary</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/assets/fonts/fontawesome-pro-5.15.1-web-ulabs/css/all.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-pro-5.15.1-web-ulabs/css/all.min.css">
    
    <!-- MDB -->
    <link rel="stylesheet" href="/assets/MDB5-pro/css/mdb.min.css" />
    <link rel="stylesheet" href="/assets/MDB5-free/css/mdb.min.css" />
    <!-- Custom styles -->
    <link href="/assets/css/custom.css" type="text/css" rel="stylesheet" />
    <!-- Owl carousel -->
    <link rel="stylesheet" href="/assets/OwlCarousel2-2.3.4/docs/assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/OwlCarousel2-2.3.4/docs/assets/owlcarousel/assets/owlcarousel/owl.theme.default.min.css">
</head>

<body>
