<%-include("head");-%>

<section class="page notFoundPage">
    <%-include("headerN");-%>
    <section class="contents">
        <div class="container-fluid">
            <h1 class="top"> ! 404 </h1>
            <h1> صفحه مورد نظر یافت نشد </h1>
        </div>
    </section>
</section>
<%-include("scripts");-%>