<!-- MDB -->
<script type="text/javascript" src="/assets/MDB5-free/js/mdb.min.js"></script>
<!-- jQuery -->
<script type="text/javascript" src="/assets/jquery/jquery-3.5.1.js"></script>
<script type="text/javascript" src="/assets/jquery/jquery-3.5.1.min.js"></script>
<!-- Owl Carousel -->
<script src="/assets/OwlCarousel2-2.3.4/docs/assets/owlcarousel/owl.carousel.min.js"></script>
<!-- Custom -->
<script src="/assets/js/seeMore.js"></script>
<script src="/assets/js/header.js"></script>
<script src="/assets/js/pageHeight.js"></script>
<script src="/assets/js/pageLoad.js"></script>
<script src="/assets/js/uploadLoader.js"></script>
<script src="/assets/js/uploadButton.js"></script>
<script src="/assets/js/notif.js"></script>
<noscript>Sorry, your browser does not support JavaScript!</noscript>

</body>

</html>
