<%-include("head");-%>


<section class="page searchPage">
    <%-include("header");-%>
    <section class="contents">
        <div class="container-fluid">

        </div>
    </section>
</section>
<%-include("footer");-%>
