<%-include("head");-%>

<section class="page uploadPage">
    <%-include("headerN");-%>
    <section class="contents">
        <div class="container-fluid">
            <%-include("notif");-%>
            <div class="row">
                <div class="info">
                    <div class="name">
                        <label>
                            نام اثر:
                        </label>
                        <input type="text" class="nameInput" />
                    </div>
                    <div class="tags">
                        <label>
                            با استفاده از تگ ها بیشتر دیده شوید:
                        </label>
                        <input type="text" class="tagsInput" />
                    </div>
                    <div class="description">
                        <label>
                            توضیحات اثر:
                        </label>
                        <textarea class="descriptionText" maxlength="100"></textarea>
                    </div>
                </div>
                <div class="uploadPic">
                    <label> تصویر خود را آپلود کنید </label>
                    <input type="file" />
                </div>
            </div>
        </div>
    </section>
</section>


<%-include("footer");-%>
