<%-include("head");-%>

<section class="page uploadPage">
    <%-include("headerN");-%>
    <section class="contents">
        <div class="container-fluid">
            <%-include("notif");-%>
            <div class="row">
                <div class="info">
                    <h4> اطلاعات اثر خود را وارد کنید </h4>
                    <div class="name">
                        <input type="text" class="nameInput" placeholder="نام اثر" />
                    </div>
                    <div class="tags">
                        <input type="text" class="tagsInput" placeholder="با استفاده از تگ ها بیشتر دیده شوید" />
                    </div>
                    <div class="description">
                        <textarea class="descriptionText" maxlength="100" placeholder="توضیحات اثر"></textarea>
                    </div>
                </div>
                <div class="uploadPic">
                    <input type="file" />
                </div>
                <div class="buttons">
                    <button type="submit">تایید</button>
                </div>
            </div>
        </div>
    </section>
</section>


<%-include("footer");-%>
