@charset "UTF-8";
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/IRANSans4/WebFonts/fonts/eot/IRANSansWeb_Medium.eot");
  src: url("../fonts/IRANSans4/WebFonts/fonts/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSans4/WebFonts/fonts/woff/IRANSansWeb_Medium.woff") format("woff"), url("../fonts/IRANSans4/WebFonts/fonts/woff/IRANSansWeb_Medium.ttf") format("truetype");
}
/*#region General */
body {
  background-color: #d6d6d6;
  color: #565656;
  margin: 0;
  padding: 0;
  font-family: IRANSans;
}

.owl-carousel {
  direction: ltr;
}

.page {
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
}

section.contents {
  padding: 5rem 0 1rem;
}
@media (max-width: 991px) {
  section.contents {
    padding: 2rem 0;
  }
}

/*#endregion */
/*#region Buttons and Inputs*/
::placeholder {
  opacity: 0.8;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  border-bottom: 2px solid #00afb5 !important;
  -webkit-text-fill-color: #00afb5;
  -webkit-box-shadow: 0 0 0 1000px #d6d6d6 inset !important;
  transition: background-color 400s ease-in-out 0s;
  background-color: #d6d6d6;
}

input {
  padding-right: 0.4rem;
  color: #565656;
}

.inputError {
  transition: 0.4s;
  border-bottom: 2px solid #d14774;
  color: #d14774;
}

button, input[type=file]::before {
  text-align: center;
  transition: 0.4s;
  border: none;
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  color: #565656;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: transparent;
}

button:hover, input[type=file]:hover {
  transition: 0.4s;
  border: none;
  color: #00afb5;
  box-shadow: 7px 7px 8px -6px #00afb5;
}
button:hover::before, input[type=file]:hover::before {
  transition: 0.4s;
  border: none;
  color: #00afb5 !important;
  box-shadow: 7px 7px 8px -6px #00afb5;
}

button:focus,
input:focus,
textarea:focus {
  transition: 0.4s;
  outline: none;
}

textarea:focus {
  box-shadow: 7px 7px 12px -6px #6c008e !important;
}

/*#endregion */
/*#region Notification*/
.notif {
  transition: 0.4s;
  position: absolute;
  top: 5rem;
  right: -100rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #d6d6d6;
  z-index: 100;
}
.notif.error p {
  padding: 1rem;
  margin-bottom: 0;
  color: #d14774;
  box-shadow: -7px 7px 8px -6px #d14774;
}
.notif.success p {
  padding: 1rem;
  margin-bottom: 0;
  color: #47d15f;
  box-shadow: -7px 7px 8px -6px #47d15f;
}

.showNotif {
  transition: 0.4s;
  right: 0;
}

/*#endregion */
/*#region upload Buttton*/
section.uploadButton {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  background-color: #d6d6d6;
  text-align: center;
  z-index: 100;
}
section.uploadButton a {
  transition: 0.4s;
  border-radius: 8px;
  display: block;
  width: 4rem;
  height: 4rem;
  padding-top: 0.5rem;
  color: #6c008e;
  box-shadow: 7px 7px 12px -6px #6c008e;
  text-align: center;
}
section.uploadButton a i {
  font-size: 2.5rem;
}
section.uploadButton a:hover {
  transition: 0.4s;
  box-shadow: -7px 7px 12px -6px #6c008e;
}
@media (max-width: 767px) {
  section.uploadButton {
    bottom: 1rem;
    left: 1rem;
  }
  section.uploadButton a {
    width: 3rem;
    height: 3rem;
  }
  section.uploadButton a i {
    font-size: 2rem;
  }
}

/*#endregion */
/*#region Product Cards */
.hiddenItem {
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  height: 0 !important;
  margin: 0 !important;
}

.card.product {
  transition: 0.4s;
  box-shadow: none;
  background-color: transparent;
  height: 16rem;
  padding: 0;
  border-radius: 8px;
  position: relative;
  margin: 1rem 0.5rem;
}
.card.product .card-body {
  padding: 0;
  position: relative;
}
.card.product .card-body img {
  transition: 0.4s;
  max-height: 12rem;
  margin: auto;
  border-radius: 8px;
  box-shadow: 10px 10px 15px 0px #06060642;
  max-width: 15rem;
  width: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card.product .card-body img:hover {
  transition: 0.4s;
  top: 49%;
  left: 49%;
  transform: translate(-50%, -50%);
}
.card.product .card-footer {
  height: 4rem;
  background-color: transparent;
  border: none;
  padding: 1rem 0 0;
}
.card.product .card-footer p {
  color: #565656;
  text-align: center;
  height: 1.5rem;
  margin: 0;
}
.card.product .card-footer p i {
  margin-right: 0.5rem;
  font-weight: 500;
}

/*#endregion */
/*#region Header*/
section.header {
  width: 100%;
}
section.header .navbar {
  box-shadow: none;
  padding: 1rem 0.5rem 0;
}
section.header .navbar .container-fluid {
  padding: 0;
}
section.header .navbar .container-fluid i {
  transition: 0.4s;
  font-size: 25px;
  color: #565656;
}
section.header .navbar .container-fluid i:hover {
  transition: 0.4s;
  color: #00afb5;
}
section.header .navbar .container-fluid .navbar-collapse ul.navbar-nav {
  padding: 0;
}
section.header .navbar .container-fluid .navbar-collapse ul.navbar-nav li.nav-item {
  width: fit-content;
  padding: 0 0.75rem;
  text-align: right;
}
section.header .navbar .container-fluid .navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
  padding: 0;
}
section.header .navbar .container-fluid .leftSide {
  position: absolute;
  text-align: left;
  left: 1rem;
  top: 1rem;
  height: 3rem;
}
section.header .navbar .container-fluid .leftSide a {
  position: absolute;
  transition: 0.4s;
}
section.header .navbar .container-fluid .leftSide a.cart {
  left: 0rem;
}
section.header .navbar .container-fluid .leftSide a.cart span {
  position: absolute;
  left: 0.8rem;
  top: 1rem;
  height: 1rem;
  background-color: #d6d6d6;
  color: #00afb5;
  border-radius: 1px;
}
section.header .navbar .container-fluid .leftSide a.profile {
  left: 2.5rem;
}
section.header .navbar .container-fluid .leftSide a.signOut {
  padding-top: 0.2rem;
  left: 5rem;
}
section.header .searchSection {
  box-shadow: 7px 7px 12px -6px #6c008e;
  text-align: center;
  margin-bottom: 3rem;
  background-color: #d6d6d6;
  border-radius: 8px;
  max-width: 40rem;
  margin: auto;
  padding: 1rem 0.5rem;
  width: 98%;
}
@media (max-width: 480px) {
  section.header .searchSection {
    width: 100%;
  }
}
section.header .searchSection i {
  cursor: pointer;
  transition: 0.4s;
  font-size: 25px;
  position: absolute;
  color: #6c008e;
}
section.header .searchSection i:hover {
  transition: 0.4s;
  color: #6c008e;
}
section.header .searchSection input[type=text] {
  transition: 0.4s;
  border: none;
  border-bottom: 2px solid #6c008e;
  background-color: transparent;
  height: 2.5rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 0.2rem;
  color: #6c008e;
}
section.header .searchSection input[type=text]:focus {
  transition: 0.4s;
  outline: none;
  border-bottom: 2px solid #6c008e;
}
section.header .searchSection .general {
  max-width: 40rem;
  margin: auto;
  position: relative;
  padding: 0 2rem 0 0.5rem;
}
section.header .searchSection .general i.fa-search {
  height: 2.5rem;
  padding-top: 0.5rem;
  width: 2rem;
  left: 0.5rem;
}
section.header .searchSection .general i.fa-angle-down {
  right: 0.5rem;
  font-size: 40px;
}
section.header .searchSection .general .rotated {
  transition: 0.4s;
  transform: rotate(180deg);
}
section.header .searchSection .advanced {
  transition: 0.4s;
  max-width: 40rem;
  margin: auto;
  position: relative;
  max-height: 40rem;
}
section.header .searchSection .advanced input[type=radio] {
  display: none;
}
section.header .searchSection .advanced label.radioLabel {
  cursor: pointer;
  width: 100%;
  margin: 0 0.5rem;
  text-align: center;
  transition: 0.4s;
  border: none;
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  color: #565656;
  padding: 0.5rem 0.4rem;
  border-radius: 8px;
  background-color: transparent;
}
section.header .searchSection .advanced .options {
  text-align: right;
  display: flex;
  width: 100%;
}
section.header .searchSection .advanced .tag {
  margin: 1rem auto;
  padding: 0 2rem 0 1rem;
}
@media (max-width: 580px) {
  section.header .searchSection .advanced .tag {
    padding: 0 0.5rem;
  }
}
section.header .searchSection .advanced .tag input {
  padding: 0 0.1rem;
}
section.header .searchSection .advanced .tag .usedTags {
  text-align: right;
  display: inline-block;
  padding-top: 1rem;
}
section.header .searchSection .advanced .tag .usedTags p {
  display: inline-block;
  display: inline-block;
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  color: #565656;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: transparent;
  margin-bottom: 0;
}
section.header .searchSection .advanced .tag .usedTags p i {
  color: #565656;
  font-size: 20px;
  position: relative;
  font-weight: 500;
}
section.header .searchSection .advanced .category,
section.header .searchSection .advanced .orientation, section.header .searchSection .advanced .type {
  padding: 1.5rem 0;
  display: flex;
}
@media (max-width: 580px) {
  section.header .searchSection .advanced .category,
section.header .searchSection .advanced .orientation, section.header .searchSection .advanced .type {
    display: block;
    padding: 0.5rem 0 1.5rem 0;
  }
}
section.header .searchSection .advanced .category .title,
section.header .searchSection .advanced .orientation .title, section.header .searchSection .advanced .type .title {
  padding-top: 0.5rem;
  width: 6rem;
  text-align: right;
  margin-right: 2rem;
}
@media (max-width: 580px) {
  section.header .searchSection .advanced .category .title,
section.header .searchSection .advanced .orientation .title, section.header .searchSection .advanced .type .title {
    margin-right: 0;
  }
}
section.header .searchSection .advanced .price {
  padding: 1.5rem 0;
  display: flex;
}
@media (max-width: 580px) {
  section.header .searchSection .advanced .price {
    display: block;
    padding: 0.5rem 0 1.5rem 0;
  }
}
section.header .searchSection .advanced .price .title {
  padding-top: 0.5rem;
  width: 6rem;
  text-align: right;
  margin-right: 2rem;
}
@media (max-width: 580px) {
  section.header .searchSection .advanced .price .title {
    margin-right: 0;
  }
}
section.header .searchSection .selected {
  transition: 0.4s;
  border: none;
  color: #6c008e !important;
  box-shadow: 7px 7px 12px -6px #6c008e !important;
  font-weight: bold;
}
section.header .searchSection .advancedHidden {
  transition: 0.4s;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
}

/*#endregion */
/*#region Footer */
section.footer .container-fluid {
  max-width: 90rem;
  margin: auto;
}
section.footer .container-fluid .social {
  padding: 1rem;
  margin: auto;
  text-align: center;
  max-width: 40rem;
  width: 90%;
}
section.footer .container-fluid .social a {
  width: 3rem;
  display: inline-block;
  text-align: center;
}
@media (max-width: 480px) {
  section.footer .container-fluid .social a {
    width: 2rem;
  }
}
section.footer .container-fluid .social a i {
  transition: 0.4s;
  font-size: 25px;
  color: #565656;
}
section.footer .container-fluid .social a i:hover {
  transition: 0.4s;
  color: #00afb5;
}
section.footer .container-fluid .designedBy {
  border-top: 1px solid #565656;
  padding: 1rem;
  text-align: center;
}
section.footer .container-fluid .designedBy p {
  margin: 0;
  color: #565656;
  font-size: 14px;
}
section.footer .container-fluid .designedBy p span {
  font-weight: bold;
  color: #00afb5;
}

/*#endregion */
/*#region Home Page*/
section.homePage section.contents .container-fluid .productTabs ul.nav-tabs {
  padding: 2rem 1rem;
}
@media (max-width: 580px) {
  section.homePage section.contents .container-fluid .productTabs ul.nav-tabs {
    padding: 1rem 0;
  }
}
@media (max-width: 580px) {
  section.homePage section.contents .container-fluid .productTabs ul.nav-tabs li.nav-item {
    display: flex;
  }
}
@media (max-width: 480px) {
  section.homePage section.contents .container-fluid .productTabs ul.nav-tabs li.nav-item {
    width: 100%;
  }
}
section.homePage section.contents .container-fluid .productTabs ul.nav-tabs li.nav-item a.nav-link {
  transition: 0.4s;
  background-color: transparent;
  font-size: 30px;
  color: #565656;
  border: none;
}
@media (max-width: 991px) {
  section.homePage section.contents .container-fluid .productTabs ul.nav-tabs li.nav-item a.nav-link {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  section.homePage section.contents .container-fluid .productTabs ul.nav-tabs li.nav-item a.nav-link {
    font-size: 19px;
  }
}
@media (max-width: 580px) {
  section.homePage section.contents .container-fluid .productTabs ul.nav-tabs li.nav-item a.nav-link {
    padding-left: 0;
    padding-right: 0;
    margin: auto;
  }
}
@media (max-width: 480px) {
  section.homePage section.contents .container-fluid .productTabs ul.nav-tabs li.nav-item a.nav-link {
    width: 14rem;
  }
}
section.homePage section.contents .container-fluid .productTabs ul.nav-tabs li.nav-item a.nav-link.active {
  transition: 0.4s;
  border-radius: 8px;
  box-shadow: 7px 7px 8px -6px #00afb5;
  color: #00afb5;
}
section.homePage section.contents .container-fluid .productTabs .tab-content {
  padding: 1rem 1rem 5rem;
}
section.homePage section.contents .container-fluid .productTabs .tab-content .tab-pane .buttons {
  padding-top: 4rem;
  text-align: center;
}
section.homePage section.contents .container-fluid .productTabs .tab-content .tab-pane .buttons button.seeMore {
  position: relative;
  display: flex;
  margin: auto;
  font-size: 20px;
  transition: 0.4s;
  background-color: transparent;
}
section.homePage section.contents .container-fluid .productTabs .tab-content .tab-pane .buttons button.seeMore i {
  left: 0.5rem;
  top: 0.5rem;
  width: 2rem;
  font-size: 30px;
}
section.homePage section.contents .container-fluid .productTabs .tab-content .tab-pane .buttons button.seeMore:hover {
  transition: 0.4s;
}
section.homePage section.contents .container-fluid .productTabs .tab-content .tab-pane .buttons button.seeMore:focus {
  transition: 0.4s;
  outline: none;
}

/*#endregion */
/*#region Login Page */
@media (max-width: 480px) {
  section.loginPage section.contents .container-fluid {
    padding: 0;
  }
}
section.loginPage section.contents .container-fluid .card {
  margin-top: 5rem;
  padding: 2rem;
  max-width: 40rem;
  margin: auto;
  width: 100%;
  border-radius: 8px;
  background-color: #d6d6d6;
}
@media (max-width: 767px) {
  section.loginPage section.contents .container-fluid .card {
    padding: 2rem 1rem;
  }
}
section.loginPage section.contents .container-fluid .card h4 {
  padding: 2rem 0;
}
@media (max-width: 480px) {
  section.loginPage section.contents .container-fluid .card h4 {
    font-size: 1.3rem;
  }
}
section.loginPage section.contents .container-fluid .card input {
  transition: 0.4s;
  border: none;
  border-bottom: 2px solid #565656;
  color: #565656;
  background-color: transparent;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 2rem;
}
section.loginPage section.contents .container-fluid .card input.codeInput {
  padding: 0;
  text-align: center;
  font-size: 25px;
  width: 2rem;
  margin: 0 0.5rem;
  display: flex;
}
@media (max-width: 580px) {
  section.loginPage section.contents .container-fluid .card input.codeInput {
    width: 1.5rem;
    margin: 0 0.3rem;
  }
}
section.loginPage section.contents .container-fluid .card input.mail, section.loginPage section.contents .container-fluid .card input.twitter, section.loginPage section.contents .container-fluid .card input.instagram {
  padding-left: 2.5rem;
}
section.loginPage section.contents .container-fluid .card input:focus {
  transition: 0.4s;
  outline: none;
  border-bottom: 2px solid #00afb5;
}
section.loginPage section.contents .container-fluid .card input[type=file] {
  padding: 0;
  visibility: hidden;
  width: 14rem;
  margin-right: -1rem;
  height: 3.5rem;
  position: relative;
}
section.loginPage section.contents .container-fluid .card input[type=file]::before {
  visibility: visible;
  margin-right: 1rem;
  transition: 0.4s;
  content: "آپلود تصویر کاربری";
  font-size: 18px;
  position: absolute;
  background-color: transparent;
  padding: 0.5rem 1rem;
  width: 11rem;
  cursor: pointer;
  text-align: center;
  color: #565656;
  border-radius: 8px;
}
section.loginPage section.contents .container-fluid .card textarea {
  transition: 0.4s;
  height: 9rem;
  resize: none;
  background-color: #d6d6d6;
  border: none;
  border-radius: 8px;
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  color: #565656;
}
section.loginPage section.contents .container-fluid .card textarea:focus {
  outline: none;
}
section.loginPage section.contents .container-fluid .card i {
  font-size: 1.5rem;
  color: #565656;
  width: 2rem;
  height: 2rem;
  margin-top: -4rem;
  float: left;
}
section.loginPage section.contents .container-fluid .card .codeInputs {
  direction: ltr;
  display: flex;
  width: fit-content;
  margin: 0 auto;
}
section.loginPage section.contents .container-fluid .card .buttons {
  position: relative;
  padding: 3rem 0;
}
section.loginPage section.contents .container-fluid .card .buttons button {
  float: left;
  margin-right: 1rem;
  font-size: 20px;
  display: block;
  width: 8rem;
}
@media (max-width: 580px) {
  section.loginPage section.contents .container-fluid .card .buttons button {
    font-size: 18px;
    width: 6rem;
  }
}
section.loginPage section.contents .container-fluid .card.code .buttons {
  padding-bottom: 0;
  float: left;
  max-width: 20rem;
}
section.loginPage section.contents .container-fluid .card.code .buttons button.codeAgain {
  transition: 0.4s;
  margin-top: 1rem;
  width: 17rem;
}
@media (max-width: 580px) {
  section.loginPage section.contents .container-fluid .card.code .buttons button.codeAgain {
    width: 13rem;
  }
}
section.loginPage section.contents .container-fluid .card.code .buttons .hidden {
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  height: 0;
}
section.loginPage section.contents .container-fluid .card.info {
  padding: 0;
}
section.loginPage section.contents .container-fluid .card.info ul.nav-tabs {
  padding: 0;
}
section.loginPage section.contents .container-fluid .card.info ul.nav-tabs li.nav-item {
  background-color: transparent;
}
section.loginPage section.contents .container-fluid .card.info ul.nav-tabs li.nav-item a.nav-link {
  color: #565656;
  font-size: 20px;
  transition: 0.4s;
  background-color: transparent;
  border: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
section.loginPage section.contents .container-fluid .card.info ul.nav-tabs li.nav-item a.nav-link.active {
  box-shadow: 4px -6px 8px -6px #a9a9a9, 8px 12px 8px -6px #a9a9a9;
  background-color: #d6d6d6;
}
section.loginPage section.contents .container-fluid .card.info .tab-content {
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  background-color: #d6d6d6;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 2rem;
  border: none;
}
@media (max-width: 767px) {
  section.loginPage section.contents .container-fluid .card.info .tab-content {
    padding: 2rem 1rem;
  }
}

/*#endregion */
/*#region Product Detail Page*/
section.detailPage section.contents .container-fluid .top .row .picture {
  padding: 1rem;
}
section.detailPage section.contents .container-fluid .top .row .picture .card {
  position: relative;
  border: none;
  box-shadow: none;
  background-color: transparent;
}
@media (max-width: 991px) {
  section.detailPage section.contents .container-fluid .top .row .picture .card {
    margin-bottom: 2rem;
  }
}
section.detailPage section.contents .container-fluid .top .row .picture .card img {
  max-height: 18rem;
  margin: auto;
  border-radius: 5px;
  box-shadow: 10px 10px 15px 0px #06060642;
  max-width: 18rem;
  width: auto;
}
@media (max-width: 580px) {
  section.detailPage section.contents .container-fluid .top .row .picture .card img {
    max-height: 16rem;
    max-width: 16rem;
  }
}
@media (max-width: 480px) {
  section.detailPage section.contents .container-fluid .top .row .picture .card img {
    max-height: 14rem;
    max-width: 14rem;
  }
}
@media (max-width: 480px) {
  section.detailPage section.contents .container-fluid .top .row .infos {
    padding: 0;
  }
}
section.detailPage section.contents .container-fluid .top .row .infos .card {
  height: 100%;
  padding: 1rem;
  border: none;
  box-shadow: none;
  border-radius: 8px;
  background-color: #d6d6d6;
  box-shadow: 7px 7px 8px -6px #b0b0b0;
}
section.detailPage section.contents .container-fluid .top .row .infos .card .info {
  margin: 0 1rem;
  position: relative;
  padding-top: 1rem;
  min-height: 3rem;
}
@media (max-width: 767px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .info {
    display: block;
    text-align: center;
  }
}
section.detailPage section.contents .container-fluid .top .row .infos .card .info label {
  font-weight: bold;
  position: absolute;
  right: 0;
}
@media (max-width: 767px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .info label {
    position: relative;
    text-align: center;
  }
}
section.detailPage section.contents .container-fluid .top .row .infos .card .info a, section.detailPage section.contents .container-fluid .top .row .infos .card .info p {
  color: #565656;
  float: left;
}
@media (max-width: 767px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .info a, section.detailPage section.contents .container-fluid .top .row .infos .card .info p {
    float: none;
    text-align: center;
  }
}
section.detailPage section.contents .container-fluid .top .row .infos .card .info a i, section.detailPage section.contents .container-fluid .top .row .infos .card .info p i {
  margin-right: 0.5rem;
  font-weight: 500;
}
section.detailPage section.contents .container-fluid .top .row .infos .card .tags label {
  padding-top: 0.5rem;
}
section.detailPage section.contents .container-fluid .top .row .infos .card .tags .tagLinks {
  padding-right: 6rem;
}
@media (max-width: 767px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .tags .tagLinks {
    padding-right: 0;
  }
}
section.detailPage section.contents .container-fluid .top .row .infos .card .tags .tagLinks a {
  transition: 0.4s;
  float: left;
  color: #565656;
  margin: 0 1rem 0.5rem 0;
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}
section.detailPage section.contents .container-fluid .top .row .infos .card .sizes {
  display: flex;
}
@media (max-width: 1180px) and (min-width: 992px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .sizes {
    min-height: 6rem;
  }
}
@media (max-width: 767px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .sizes {
    min-height: 6rem;
    display: block;
    text-align: center;
  }
}
section.detailPage section.contents .container-fluid .top .row .infos .card .sizes label {
  width: 7rem;
  padding-top: 0.5rem;
}
@media (max-width: 767px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .sizes label {
    position: relative;
  }
}
section.detailPage section.contents .container-fluid .top .row .infos .card .sizes .options {
  text-align: left;
  display: inline-block;
  width: 100%;
  padding-right: 7rem;
}
@media (max-width: 767px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .sizes .options {
    position: relative;
    text-align: center;
    padding: 0;
  }
}
section.detailPage section.contents .container-fluid .top .row .infos .card .sizes .options input[type=radio] {
  display: none;
}
section.detailPage section.contents .container-fluid .top .row .infos .card .sizes .options label.sizeOption {
  font-weight: lighter;
  font-size: 14px;
  position: relative;
  width: 23.2%;
  margin: 0 0.4rem 0.4rem 0;
  cursor: pointer;
  text-align: center;
  transition: 0.4s;
  border: none;
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  color: #565656;
  padding: 0.5rem 0;
  border-radius: 8px;
  background-color: transparent;
}
@media (max-width: 1180px) and (min-width: 992px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .sizes .options label.sizeOption {
    width: 47%;
  }
}
@media (max-width: 767px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .sizes .options label.sizeOption {
    text-align: center;
    width: 15rem;
  }
}
@media (max-width: 580px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .sizes .options label.sizeOption {
    width: 12rem;
  }
}
section.detailPage section.contents .container-fluid .top .row .infos .card .sizes .options .selected {
  transition: 0.4s;
  border: none;
  color: #00afb5 !important;
  box-shadow: 7px 7px 8px -6px #00afb5 !important;
  font-weight: bold;
}
section.detailPage section.contents .container-fluid .top .row .infos .card .price {
  padding-left: 1rem;
  position: relative;
}
section.detailPage section.contents .container-fluid .top .row .infos .card .price p {
  transition: 0.4s;
  font-size: 1rem;
  opacity: 0;
  visibility: hidden;
  height: 0;
  position: absolute;
  left: 1rem;
}
section.detailPage section.contents .container-fluid .top .row .infos .card .price .showPrice {
  transition: 0.4s;
  opacity: 1;
  visibility: visible;
  height: auto;
  width: auto;
  position: relative;
  left: 0;
}
section.detailPage section.contents .container-fluid .top .row .infos .card .buttons {
  margin: 0 1rem;
  padding-top: 1rem;
  text-align: left;
}
@media (max-width: 767px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .buttons {
    text-align: center;
  }
}
section.detailPage section.contents .container-fluid .top .row .infos .card .buttons button {
  position: relative;
  margin: auto auto 1rem;
  font-size: 18px;
  width: 12rem;
}
section.detailPage section.contents .container-fluid .top .row .infos .card .buttons button.buy, section.detailPage section.contents .container-fluid .top .row .infos .card .buttons button.addToCart {
  transition: 0.4s;
  color: #47d15f;
  box-shadow: 7px 7px 8px -6px #47d15f;
}
section.detailPage section.contents .container-fluid .top .row .infos .card .buttons button.buy:hover, section.detailPage section.contents .container-fluid .top .row .infos .card .buttons button.addToCart:hover {
  transition: 0.4s;
  box-shadow: -7px 7px 8px -6px #47d15f;
}
section.detailPage section.contents .container-fluid .description {
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  margin-top: 2rem;
  border-radius: 8px;
  background-color: #d6d6d6;
  padding: 2rem;
}
@media (max-width: 480px) {
  section.detailPage section.contents .container-fluid .description {
    padding: 0;
    background-color: transparent;
  }
}
@media (max-width: 480px) {
  section.detailPage section.contents .container-fluid .description .row {
    background-color: #d6d6d6;
    padding: 2rem 1rem;
    border-radius: 8px;
  }
}
section.detailPage section.contents .container-fluid .description .row h4 {
  padding: 0 0 1rem;
}
section.detailPage section.contents .container-fluid .description .row p {
  text-align: justify;
}
section.detailPage section.contents .container-fluid .related {
  padding: 2rem;
}
section.detailPage section.contents .container-fluid .related h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: -1rem;
}
section.detailPage section.contents .container-fluid .related .owl-carousel {
  position: relative;
}
section.detailPage section.contents .container-fluid .related .owl-carousel .owl-item {
  position: relative;
  height: 16rem;
}
section.detailPage section.contents .container-fluid .related .owl-carousel .owl-item img {
  transition: 0.4s;
  max-height: 12rem;
  margin: auto;
  border-radius: 5px;
  box-shadow: 10px 10px 15px 0px #06060642;
  max-width: 12rem;
  width: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.detailPage section.contents .container-fluid .related .owl-carousel .owl-item img:hover {
  transition: 0.4s;
  top: 49%;
  left: 49%;
  transform: translate(-50%, -50%);
}
section.detailPage section.contents .container-fluid .related .owl-carousel .owl-nav {
  position: absolute;
  width: 100%;
  top: 32%;
}
section.detailPage section.contents .container-fluid .related .owl-carousel .owl-nav .owl-prev {
  box-shadow: none !important;
  position: absolute;
  left: -1.5rem;
}
section.detailPage section.contents .container-fluid .related .owl-carousel .owl-nav .owl-prev span {
  transition: 0.4s;
  font-size: 4rem;
}
section.detailPage section.contents .container-fluid .related .owl-carousel .owl-nav .owl-prev span:hover {
  transition: 0.4s;
  color: #00afb5;
}
section.detailPage section.contents .container-fluid .related .owl-carousel .owl-nav .owl-next {
  box-shadow: none !important;
  position: absolute;
  right: -1.5rem;
}
section.detailPage section.contents .container-fluid .related .owl-carousel .owl-nav .owl-next span {
  transition: 0.4s;
  font-size: 4rem;
}
section.detailPage section.contents .container-fluid .related .owl-carousel .owl-nav .owl-next span:hover {
  transition: 0.4s;
  color: #00afb5;
}

/*#endregion */
/*#region Upload Page */
Section.uploadPage section.contents {
  padding-top: 2rem;
}
@media (max-width: 480px) {
  Section.uploadPage section.contents .container-fluid {
    padding: 0;
  }
}
Section.uploadPage section.contents .container-fluid .row {
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  padding: 1rem 1rem 2rem;
  background-color: #d6d6d6;
  border-radius: 8px;
  margin: auto;
  width: 100%;
  max-width: 40rem;
}
Section.uploadPage section.contents .container-fluid .row .info h4 {
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}
@media (max-width: 580px) {
  Section.uploadPage section.contents .container-fluid .row .info h4 {
    padding: 1rem 0;
  }
}
Section.uploadPage section.contents .container-fluid .row .info label {
  font-size: 20px;
}
@media (max-width: 480px) {
  Section.uploadPage section.contents .container-fluid .row .info label {
    font-size: 18px;
  }
}
Section.uploadPage section.contents .container-fluid .row .info input {
  display: block;
  margin-bottom: 3rem;
  transition: 0.4s;
  height: 2.5rem;
  width: 100%;
  padding-right: 0.4rem;
  border: none;
  border-bottom: 2px solid #565656;
  color: #565656;
  background-color: transparent;
}
Section.uploadPage section.contents .container-fluid .row .info input:focus {
  transition: 0.4s;
  outline: none;
  border-bottom: 2px solid #00afb5;
}
Section.uploadPage section.contents .container-fluid .row .info input.nameInput {
  max-width: 20rem;
}
Section.uploadPage section.contents .container-fluid .row .info textarea {
  transition: 0.4s;
  height: 9rem;
  resize: none;
  background-color: #d6d6d6;
  border: none;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 3rem;
  padding: 0.5rem;
  color: #565656;
  box-shadow: 7px 7px 8px -6px #b0b0b0;
}
Section.uploadPage section.contents .container-fluid .row .uploadPic {
  margin-bottom: 3rem;
}
Section.uploadPage section.contents .container-fluid .row .uploadPic label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
Section.uploadPage section.contents .container-fluid .row .uploadPic input[type=file] {
  padding: 0;
  visibility: hidden;
  width: 14rem;
  margin-right: -1rem;
  height: 3.5rem;
  position: relative;
}
Section.uploadPage section.contents .container-fluid .row .uploadPic input[type=file]::before {
  visibility: visible;
  margin-right: 1rem;
  transition: 0.4s;
  content: "اثر خود را آپلود کنید";
  font-size: 18px;
  position: absolute;
  background-color: transparent;
  padding: 0.5rem 1rem;
  width: 11rem;
  cursor: pointer;
  text-align: center;
  color: #565656;
  border-radius: 8px;
}
Section.uploadPage section.contents .container-fluid .row .pricing {
  margin-bottom: 1rem;
  max-width: 20rem;
  font-size: 0.9rem;
}
Section.uploadPage section.contents .container-fluid .row .pricing input {
  transition: 0.4s;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #565656;
  width: 11rem;
  height: 100%;
  padding-left: 3rem;
}
Section.uploadPage section.contents .container-fluid .row .pricing input:focus {
  transition: 0.4s;
  outline: none;
  border-bottom: 2px solid #00afb5;
}
Section.uploadPage section.contents .container-fluid .row .pricing.small {
  margin-bottom: 3rem;
}
Section.uploadPage section.contents .container-fluid .row .pricing label {
  color: #565656;
  transition: 0.4s;
}
Section.uploadPage section.contents .container-fluid .row .pricing label.toman {
  margin-right: -2.5rem;
  opacity: 0;
}
Section.uploadPage section.contents .container-fluid .row .pricing label.free {
  margin: 0 0.5rem 0 0;
  cursor: pointer;
  margin: 0 0.5rem;
  text-align: center;
  transition: 0.4s;
  border: none;
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  color: #565656;
  padding: 0.5rem 0.4rem;
  border-radius: 8px;
  background-color: transparent;
  padding: 0.4rem 0.3rem;
  float: left;
}
Section.uploadPage section.contents .container-fluid .row .pricing .shown {
  transition: 0.4s;
  opacity: 1 !important;
}
Section.uploadPage section.contents .container-fluid .row .category {
  max-width: 20rem;
  display: flex;
  margin-bottom: 3rem;
}
Section.uploadPage section.contents .container-fluid .row .category .title {
  padding-top: 0.5rem;
  width: 3rem;
  text-align: right;
}
Section.uploadPage section.contents .container-fluid .row .category .selected {
  transition: 0.4s;
  color: #00afb5;
  font-weight: bold;
}
Section.uploadPage section.contents .container-fluid .row .category label.radioLabel {
  margin: 0 0.5rem 0 0;
  cursor: pointer;
  width: 100%;
  margin: 0 0.5rem;
  text-align: center;
  transition: 0.4s;
  border: none;
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  color: #565656;
  padding: 0.5rem 0.4rem;
  border-radius: 8px;
  background-color: transparent;
}
Section.uploadPage section.contents .container-fluid .row .category .options {
  text-align: right;
  display: flex;
  width: 100%;
}
Section.uploadPage section.contents .container-fluid .row .buttons {
  padding: 2rem 1rem 0;
  text-align: center;
}
Section.uploadPage section.contents .container-fluid .row .buttons button {
  float: left;
  font-size: 20px;
  display: block;
  width: 10rem;
}
@media (max-width: 580px) {
  Section.uploadPage section.contents .container-fluid .row .buttons button {
    font-size: 18px;
    width: 8rem;
  }
}
Section.uploadPage section.contents .container-fluid .row .selected {
  transition: 0.4s;
  border: none;
  color: #00afb5 !important;
  box-shadow: 7px 7px 8px -6px #00afb5 !important;
  font-weight: bold;
}

/*#endregion */
/*#region Search Page */
section.searchPage section.header {
  margin: auto;
  max-width: 90rem;
  position: fixed;
  z-index: 90;
  background-color: #d6d6d6;
}
section.searchPage section.contents {
  padding-top: 8rem;
}
section.searchPage section.contents .container-fluid .popularTags {
  text-align: center;
}
section.searchPage section.contents .container-fluid .popularTags .card {
  margin: auto;
  max-width: 40rem;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  padding: 1rem;
  display: inline-block;
}
section.searchPage section.contents .container-fluid .popularTags .card a {
  display: inline-block;
  transition: 0.4s;
  color: #565656;
  padding: 0 0.5rem;
}
section.searchPage section.contents .container-fluid .popularTags .card a:hover {
  transition: 0.4s;
  color: #00afb5;
}
section.searchPage section.contents .container-fluid .popularTags .row .result {
  padding: 1rem;
}

/*#endregion */
/*#region Cart Page */
section.cartPage section.contents .container-fluid .row.top .items {
  padding: 1rem;
}
section.cartPage section.contents .container-fluid .row.top .items .row.middle .col-md-12 {
  padding: 1rem;
}
section.cartPage section.contents .container-fluid .row.top .items .row.middle .col-md-12 .item {
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  background-color: transparent;
  padding: 1rem;
}
@media (max-width: 580px) {
  section.cartPage section.contents .container-fluid .row.top .items .row.middle .col-md-12 .item {
    text-align: center;
  }
}
section.cartPage section.contents .container-fluid .row.top .items .row.middle .col-md-12 .item .image {
  position: relative;
  padding: 1rem;
  text-align: center;
}
section.cartPage section.contents .container-fluid .row.top .items .row.middle .col-md-12 .item .image a {
  display: contents;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.cartPage section.contents .container-fluid .row.top .items .row.middle .col-md-12 .item .image a img {
  transition: 0.4s;
  max-height: 4rem;
  border-radius: 8px;
  box-shadow: 10px 10px 15px 0px #06060642;
  max-width: 4rem;
  width: auto;
  margin: 0 auto;
}
@media (max-width: 580px) {
  section.cartPage section.contents .container-fluid .row.top .items .row.middle .col-md-12 .item .image a img {
    max-height: 6rem;
    max-width: 6rem;
  }
}
section.cartPage section.contents .container-fluid .row.top .items .row.middle .col-md-12 .item .detail {
  padding: 1rem;
}
section.cartPage section.contents .container-fluid .row.top .items .row.middle .col-md-12 .item .detail p {
  margin-bottom: 0;
}
section.cartPage section.contents .container-fluid .row.top .items .row.middle .col-md-12 .item .buttons {
  padding: 0rem;
}
section.cartPage section.contents .container-fluid .row.top .items .row.middle .col-md-12 .item .buttons button.delete {
  transition: 0.4s;
  float: left;
  color: #d14774;
  box-shadow: 7px 7px 8px -6px #d14774;
}
section.cartPage section.contents .container-fluid .row.top .items .row.middle .col-md-12 .item .buttons button.delete:hover {
  transition: 0.4s;
  box-shadow: -7px 7px 8px -6px #d14774;
}
section.cartPage section.contents .container-fluid .row.top .total {
  padding: 1rem;
}
section.cartPage section.contents .container-fluid .row.top .total .card {
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  background-color: transparent;
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 8px;
}
section.cartPage section.contents .container-fluid .row.top .total .buttons button.payment {
  transition: 0.4s;
  padding: 1rem 3rem;
  color: #47d15f;
  box-shadow: 7px 7px 8px -6px #47d15f;
}
section.cartPage section.contents .container-fluid .row.top .total .buttons button.payment:hover {
  transition: 0.4s;
  box-shadow: -7px 7px 8px -6px #47d15f;
}

/*#endregion */
/*#region Dashboard Page */
section.dashboardPage section.contents .container-fluid .part {
  max-width: 40rem;
  margin: 1rem auto;
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  padding: 1rem;
  border-radius: 8px;
}
section.dashboardPage section.contents .container-fluid .part .header {
  text-align: center;
  cursor: pointer;
  background-color: transparent;
}
section.dashboardPage section.contents .container-fluid .part .header h4 {
  color: #565656;
  margin-bottom: 0;
  text-align: right;
}
section.dashboardPage section.contents .container-fluid .part .header h4 i.fa-angle-down {
  float: left;
  transition: 0.4s;
  width: 2rem;
  font-weight: 500;
}
section.dashboardPage section.contents .container-fluid .part .header h4 .rotated {
  transition: 0.4s;
  transform: rotate(180deg);
}
section.dashboardPage section.contents .container-fluid .part.top .summary .picture {
  padding: 1rem;
  text-align: center;
}
section.dashboardPage section.contents .container-fluid .part.top .summary .picture img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 100%;
}
section.dashboardPage section.contents .container-fluid .part.top .summary .picture i {
  font-size: 4rem;
  width: 7rem;
  height: 7rem;
  text-align: center;
  color: #565656;
  padding: 1rem;
  border: 2px solid #565656;
  border-radius: 100%;
}
@media (max-width: 580px) {
  section.dashboardPage section.contents .container-fluid .part.top .summary .picture i {
    font-size: 3.5rem;
    width: 6rem;
    height: 6rem;
  }
}
section.dashboardPage section.contents .container-fluid .part.top .summary .bottom {
  width: inherit;
  text-align: center;
}
section.dashboardPage section.contents .container-fluid .part.top .summary .bottom .name {
  padding: 0.5rem;
}
section.dashboardPage section.contents .container-fluid .part.top .summary .bottom .name p {
  font-size: 1.3rem;
  margin-bottom: 0;
}
section.dashboardPage section.contents .container-fluid .part.top .summary .bottom .socialStats {
  display: inline-flex;
}
section.dashboardPage section.contents .container-fluid .part.top .summary .bottom .socialStats a {
  color: #565656;
}
section.dashboardPage section.contents .container-fluid .part.top .summary .bottom .socialStats a i {
  padding: 0.5rem;
  transition: 0.4s;
  color: #565656;
  font-size: 1.5rem;
}
section.dashboardPage section.contents .container-fluid .part.top .summary .bottom .socialStats a i:hover {
  transition: 0.4s;
  color: #00afb5;
}
section.dashboardPage section.contents .container-fluid .part.top .summary .bottom .socialStats .mail, section.dashboardPage section.contents .container-fluid .part.top .summary .bottom .socialStats .instagram, section.dashboardPage section.contents .container-fluid .part.top .summary .bottom .socialStats .twitter {
  width: fit-content;
  padding-top: 0.5rem;
}
section.dashboardPage section.contents .container-fluid .part.top .summary .bottom .socialStats .productsCount {
  display: inline-flex;
}
section.dashboardPage section.contents .container-fluid .part.top .summary .bottom .socialStats .productsCount label, section.dashboardPage section.contents .container-fluid .part.top .summary .bottom .socialStats .productsCount p {
  padding: 1rem 0.25rem;
}
section.dashboardPage section.contents .container-fluid .part.top .bio p {
  text-align: justify;
}
section.dashboardPage section.contents .container-fluid .part.personalInfo .collapseContent input {
  transition: 0.4s;
  border: none;
  border-bottom: 2px solid #565656;
  color: #565656;
  background-color: transparent;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 2rem;
}
section.dashboardPage section.contents .container-fluid .part.personalInfo .collapseContent input.codeInput {
  padding: 0;
  text-align: center;
  font-size: 25px;
  width: 2rem;
  margin: 0 0.5rem;
  display: flex;
}
@media (max-width: 580px) {
  section.dashboardPage section.contents .container-fluid .part.personalInfo .collapseContent input.codeInput {
    width: 1.5rem;
    margin: 0 0.3rem;
  }
}
section.dashboardPage section.contents .container-fluid .part.personalInfo .collapseContent input.mail, section.dashboardPage section.contents .container-fluid .part.personalInfo .collapseContent input.twitter, section.dashboardPage section.contents .container-fluid .part.personalInfo .collapseContent input.instagram {
  padding-left: 2.5rem;
}
section.dashboardPage section.contents .container-fluid .part.personalInfo .collapseContent input:focus {
  transition: 0.4s;
  outline: none;
  border-bottom: 2px solid #00afb5;
}
section.dashboardPage section.contents .container-fluid .part.personalInfo .collapseContent input[type=file] {
  padding: 0;
  visibility: hidden;
  width: 14rem;
  margin-right: -1rem;
  height: 3.5rem;
  position: relative;
}
section.dashboardPage section.contents .container-fluid .part.personalInfo .collapseContent input[type=file]::before {
  visibility: visible;
  margin-right: 1rem;
  transition: 0.4s;
  content: "آپلود تصویر کاربری";
  font-size: 18px;
  position: absolute;
  background-color: transparent;
  padding: 0.5rem 1rem;
  width: 11rem;
  cursor: pointer;
  text-align: center;
  color: #565656;
  border-radius: 8px;
}
section.dashboardPage section.contents .container-fluid .part.personalInfo .collapseContent textarea {
  transition: 0.4s;
  height: 9rem;
  resize: none;
  background-color: #d6d6d6;
  border: none;
  border-radius: 8px;
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  color: #565656;
}
section.dashboardPage section.contents .container-fluid .part.personalInfo .collapseContent textarea:focus {
  outline: none;
}
section.dashboardPage section.contents .container-fluid .part.personalInfo .collapseContent i {
  font-size: 1.5rem;
  color: #565656;
  width: 2rem;
  height: 2rem;
  margin-top: -4rem;
  float: left;
}
section.dashboardPage section.contents .container-fluid .part.personalInfo .collapseContent .buttons {
  text-align: left;
  position: relative;
}
section.dashboardPage section.contents .container-fluid .part.personalInfo .collapseContent .buttons button {
  transition: 0.4s;
  width: 10rem;
  padding: 0.5rem;
}
section.dashboardPage section.contents .container-fluid .part.personalInfo .collapseContent .buttons button.save {
  transition: 0.4s;
  color: #47d15f;
  box-shadow: 7px 7px 8px -6px #47d15f;
}
section.dashboardPage section.contents .container-fluid .part.personalInfo .collapseContent .buttons button.save:hover {
  transition: 0.4s;
  box-shadow: -7px 7px 8px -6px #47d15f;
}
section.dashboardPage section.contents .container-fluid .part.personalInfo .collapseContent .buttons button.cancel {
  transition: 0.4s;
  color: #d14774;
  box-shadow: 7px 7px 8px -6px #d14774;
}
section.dashboardPage section.contents .container-fluid .part.personalInfo .collapseContent .buttons button.cancel:hover {
  transition: 0.4s;
  box-shadow: -7px 7px 8px -6px #d14774;
}
section.dashboardPage section.contents .container-fluid .part.personalInfo .collapseContent .buttons .hiddenButton {
  transition: 0.4s;
  width: 0;
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel {
  transition: 0.4s;
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-item {
  direction: rtl;
  padding: 2rem;
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-item .card {
  height: 10rem;
}
@media (max-width: 580px) {
  section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-item .card {
    height: 18rem;
  }
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-item .itemPack {
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  background-color: transparent;
  padding: 1rem;
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-item .itemPack .background {
  height: 8rem;
  padding: 1rem;
  position: relative;
  z-index: 0;
  filter: blur(3px);
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-item .itemPack .background img {
  transition: 0.4s;
  max-height: 8rem;
  border-radius: 8px;
  box-shadow: 10px 10px 15px 0px #06060642;
  max-width: 8rem;
  width: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-item .itemPack .background img.top {
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-item .itemPack .background img.middle {
  z-index: 9;
  top: 48%;
  left: 52%;
  transform: translate(-50%, -50%);
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-item .itemPack .background img.bottom {
  z-index: 8;
  top: 46%;
  left: 54%;
  transform: translate(-50%, -50%);
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-item .itemPack .detail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 50;
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-item .itemPack .detail a {
  transition: 0.4s;
  color: #565656;
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  background-color: #d6d6d6;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-item .itemPack .detail a:hover {
  transition: 0.4s;
  color: #00afb5;
  box-shadow: 7px 7px 8px -6px #00afb5;
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-item .item {
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  background-color: transparent;
  padding: 1rem;
}
@media (max-width: 580px) {
  section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-item .item {
    text-align: center;
  }
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-item .item .image {
  position: relative;
  padding: 1rem;
  text-align: center;
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-item .item .image a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-item .item .image a img {
  transition: 0.4s;
  max-height: 4rem;
  border-radius: 8px;
  box-shadow: 10px 10px 15px 0px #06060642;
  max-width: 4rem;
  width: auto;
  margin: 0 auto;
}
@media (max-width: 580px) {
  section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-item .item .image a img {
    max-height: 6rem;
    max-width: 6rem;
  }
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-item .item .detail {
  padding: 1rem;
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-item .item .detail p {
  margin-bottom: 0;
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-nav {
  position: absolute;
  width: 100%;
  top: 32%;
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-nav .owl-prev {
  box-shadow: none !important;
  position: absolute;
  left: 0;
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-nav .owl-prev span {
  transition: 0.4s;
  font-size: 4rem;
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-nav .owl-prev span:hover {
  transition: 0.4s;
  color: #00afb5;
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-nav .owl-next {
  box-shadow: none !important;
  position: absolute;
  right: 0;
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-nav .owl-next span {
  transition: 0.4s;
  font-size: 4rem;
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .owl-carousel .owl-nav .owl-next span:hover {
  transition: 0.4s;
  color: #00afb5;
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .buttons {
  padding: 1rem;
  text-align: left;
}
@media (max-width: 580px) {
  section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .buttons {
    text-align: center;
  }
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .buttons a {
  text-align: center;
  transition: 0.4s;
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  color: #565656;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  background-color: transparent;
}
section.dashboardPage section.contents .container-fluid .part.downloads .collapseContent .buttons a:hover {
  transition: 0.4s;
  color: #00afb5 !important;
  box-shadow: 7px 7px 8px -6px #00afb5;
}
section.dashboardPage section.contents .container-fluid .part .collapseContent {
  padding-top: 1rem;
  transition: 0.4s;
  max-width: 40rem;
  margin: auto;
  position: relative;
  max-height: 70rem;
  background-color: transparent;
}
section.dashboardPage section.contents .container-fluid .part .contentHidden {
  transition: 0.4s;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

/*#endregion */
/*#region User Page */
section.userPage section.contents .container-fluid .row.top {
  padding: 1rem;
}
@media (max-width: 767px) {
  section.userPage section.contents .container-fluid .row.top {
    padding: 1rem;
  }
}
@media (max-width: 480px) {
  section.userPage section.contents .container-fluid .row.top {
    padding: 1rem 0;
  }
}
section.userPage section.contents .container-fluid .row.top .info {
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  background-color: #d6d6d6;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  max-width: 40rem;
  margin: auto;
}
@media (max-width: 991px) {
  section.userPage section.contents .container-fluid .row.top .info {
    text-align: right;
  }
}
@media (max-width: 767px) {
  section.userPage section.contents .container-fluid .row.top .info {
    text-align: center;
  }
}
section.userPage section.contents .container-fluid .row.top .info .row .summary .picture {
  padding: 1rem;
  text-align: center;
}
section.userPage section.contents .container-fluid .row.top .info .row .summary .picture img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 100%;
}
section.userPage section.contents .container-fluid .row.top .info .row .summary .picture i {
  font-size: 4rem;
  width: 7rem;
  height: 7rem;
  text-align: center;
  color: #565656;
  padding: 1rem;
  border: 2px solid #565656;
  border-radius: 100%;
}
@media (max-width: 580px) {
  section.userPage section.contents .container-fluid .row.top .info .row .summary .picture i {
    font-size: 3.5rem;
    width: 6rem;
    height: 6rem;
  }
}
section.userPage section.contents .container-fluid .row.top .info .row .summary .bottom {
  width: inherit;
  text-align: center;
}
section.userPage section.contents .container-fluid .row.top .info .row .summary .bottom .name {
  padding: 0.5rem;
}
section.userPage section.contents .container-fluid .row.top .info .row .summary .bottom .name p {
  font-size: 1.3rem;
  margin-bottom: 0;
}
section.userPage section.contents .container-fluid .row.top .info .row .summary .bottom .socialStats {
  display: inline-flex;
}
section.userPage section.contents .container-fluid .row.top .info .row .summary .bottom .socialStats a {
  color: #565656;
}
section.userPage section.contents .container-fluid .row.top .info .row .summary .bottom .socialStats a i {
  padding: 0.5rem;
  transition: 0.4s;
  color: #565656;
  font-size: 1.5rem;
}
section.userPage section.contents .container-fluid .row.top .info .row .summary .bottom .socialStats a i:hover {
  transition: 0.4s;
  color: #00afb5;
}
section.userPage section.contents .container-fluid .row.top .info .row .summary .bottom .socialStats .mail, section.userPage section.contents .container-fluid .row.top .info .row .summary .bottom .socialStats .instagram, section.userPage section.contents .container-fluid .row.top .info .row .summary .bottom .socialStats .twitter {
  width: fit-content;
  padding-top: 0.5rem;
}
section.userPage section.contents .container-fluid .row.top .info .row .summary .bottom .socialStats .productsCount {
  display: inline-flex;
}
section.userPage section.contents .container-fluid .row.top .info .row .summary .bottom .socialStats .productsCount label, section.userPage section.contents .container-fluid .row.top .info .row .summary .bottom .socialStats .productsCount p {
  padding: 1rem 0.25rem;
}
section.userPage section.contents .container-fluid .row.top .info .row .bio p {
  text-align: justify;
}
section.userPage section.contents .container-fluid .row.top .products {
  padding: 1rem;
}
section.userPage section.contents .container-fluid .row.top .products .buttons {
  padding-top: 4rem;
  text-align: center;
}
section.userPage section.contents .container-fluid .row.top .products .buttons button.seeMore {
  position: relative;
  display: flex;
  margin: auto;
  font-size: 20px;
  transition: 0.4s;
  background-color: transparent;
}
section.userPage section.contents .container-fluid .row.top .products .buttons button.seeMore i {
  left: 0.5rem;
  top: 0.5rem;
  width: 2rem;
  font-size: 30px;
}
section.userPage section.contents .container-fluid .row.top .products .buttons button.seeMore:hover {
  transition: 0.4s;
}
section.userPage section.contents .container-fluid .row.top .products .buttons button.seeMore:focus {
  transition: 0.4s;
  outline: none;
}

/*#endregion */
/*#region Order Detail Page */
section.orderPage section.contents .container-fluid .details {
  padding: 1rem 0.5rem;
  background-color: #d6d6d6;
  box-shadow: 7px 7px 8px -6px #00afb5;
  border-radius: 8px;
  max-width: 40rem;
  margin: auto;
  margin-bottom: 2rem;
}
section.orderPage section.contents .container-fluid .details .row.top .col-sm-4 {
  text-align: center;
}
@media (max-width: 580px) {
  section.orderPage section.contents .container-fluid .details .row.top .col-sm-4 {
    display: inline-block;
  }
  section.orderPage section.contents .container-fluid .details .row.top .col-sm-4 p {
    float: left;
  }
  section.orderPage section.contents .container-fluid .details .row.top .col-sm-4 label {
    float: right;
  }
}
section.orderPage section.contents .container-fluid .details .row.top .col-sm-4 label, section.orderPage section.contents .container-fluid .details .row.top .col-sm-4 p {
  color: #565656;
}
section.orderPage section.contents .container-fluid .products .row .col-sm-12 {
  padding: 1rem;
}
section.orderPage section.contents .container-fluid .products .row .col-sm-12 .item {
  box-shadow: 7px 7px 8px -6px #b0b0b0;
  background-color: transparent;
  padding: 1rem;
}
@media (max-width: 580px) {
  section.orderPage section.contents .container-fluid .products .row .col-sm-12 .item {
    text-align: center;
  }
}
section.orderPage section.contents .container-fluid .products .row .col-sm-12 .item .image {
  position: relative;
  padding: 1rem;
  text-align: center;
}
section.orderPage section.contents .container-fluid .products .row .col-sm-12 .item .image a {
  display: contents;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.orderPage section.contents .container-fluid .products .row .col-sm-12 .item .image a img {
  transition: 0.4s;
  max-height: 4rem;
  border-radius: 8px;
  box-shadow: 10px 10px 15px 0px #06060642;
  max-width: 4rem;
  width: auto;
  margin: 0 auto;
}
@media (max-width: 580px) {
  section.orderPage section.contents .container-fluid .products .row .col-sm-12 .item .image a img {
    max-height: 6rem;
    max-width: 6rem;
  }
}
section.orderPage section.contents .container-fluid .products .row .col-sm-12 .item .detail {
  padding: 1rem;
}
section.orderPage section.contents .container-fluid .products .row .col-sm-12 .item .detail p {
  margin-bottom: 0;
}

/*#endregion */
/*#region NOT FOUND page*/
section.notFoundPage section.contents .container-fluid {
  text-align: center;
}
section.notFoundPage section.contents .container-fluid h1 {
  color: #565656;
  font-weight: bold;
}
section.notFoundPage section.contents .container-fluid h1.top {
  padding: 2rem;
  font-size: 5rem;
}

/*#endregion */
/*#region About Us Page */
/*#endregion */
/*#region Contact Us Page */
/*#endregion */

/*# sourceMappingURL=custom.css.map */
