@charset "UTF-8";
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/IRANSans4/WebFonts/fonts/eot/IRANSansWeb_Medium.eot");
  src: url("../fonts/IRANSans4/WebFonts/fonts/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSans4/WebFonts/fonts/woff/IRANSansWeb_Medium.woff") format("woff"), url("../fonts/IRANSans4/WebFonts/fonts/woff/IRANSansWeb_Medium.ttf") format("truetype");
}
/*#region General */
body {
  background-color: #f0f0f0;
  color: #565656;
  margin: 0;
  padding: 0;
  font-family: IRANSans;
}

.owl-carousel {
  direction: ltr;
}

::placeholder {
  opacity: 0.8;
}

@-webkit-keyframes autofill {
  0%, 100% {
    color: #565656;
    background: transparent;
  }
}
input:-webkit-autofill {
  -webkit-animation-delay: 0.4s;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.page {
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
}

section.contents {
  padding: 5rem 0;
}
@media (max-width: 991px) {
  section.contents {
    padding: 2rem 0;
  }
}

/*#endregion */
/*#region Notification*/
.notif {
  padding: 1rem;
  transition: 0.4s;
  position: absolute;
  top: 5rem;
  right: -100rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #0000000d;
  z-index: 100;
}
.notif.error p {
  margin-bottom: 0;
  color: #d14774;
}
.notif.success p {
  margin-bottom: 0;
  color: #47d15f;
}

.showNotif {
  transition: 0.4s;
  right: 0;
}

/*#endregion */
/*#region Product Cards */
.hiddenItem {
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  height: 0 !important;
  margin: 0 !important;
}

.card.product {
  transition: 0.4s;
  box-shadow: none;
  background-color: transparent;
  height: 16rem;
  padding: 0;
  border-radius: 5px;
  position: relative;
  margin: 1rem 0.5rem;
}
.card.product .card-body {
  padding: 0;
  position: relative;
}
.card.product .card-body img {
  transition: 0.4s;
  max-height: 12rem;
  margin: auto;
  border-radius: 5px;
  box-shadow: 10px 10px 15px 0px #06060642;
  max-width: 15rem;
  width: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card.product .card-body img:hover {
  transition: 0.4s;
  top: 49%;
  left: 49%;
  transform: translate(-50%, -50%);
}
.card.product .card-footer {
  height: 4rem;
  background-color: transparent;
  border: none;
  padding: 1rem 0 0;
}
.card.product .card-footer p {
  color: #565656;
  text-align: center;
  height: 1.5rem;
  margin: 0;
}

/*#endregion */
/*#region Header*/
section.header {
  width: 100%;
}
section.header .navbar {
  box-shadow: none;
  padding: 1rem 0.5rem 0;
}
section.header .navbar .container-fluid {
  padding: 0;
}
section.header .navbar .container-fluid i {
  transition: 0.4s;
  font-size: 25px;
  color: #565656;
}
section.header .navbar .container-fluid i:hover {
  transition: 0.4s;
  color: #00b4bb;
}
section.header .navbar .container-fluid .navbar-collapse ul.navbar-nav {
  padding: 0;
}
section.header .navbar .container-fluid .navbar-collapse ul.navbar-nav li.nav-item {
  width: fit-content;
  padding: 0 0.75rem;
  text-align: right;
}
section.header .navbar .container-fluid .navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
  padding: 0;
}
section.header .navbar .container-fluid .leftSide {
  position: absolute;
  text-align: left;
  left: 1rem;
  top: 1rem;
  height: 3rem;
}
section.header .navbar .container-fluid .leftSide a {
  position: absolute;
  transition: 0.4s;
}
section.header .navbar .container-fluid .leftSide a.cart {
  left: 0rem;
}
section.header .navbar .container-fluid .leftSide a.profile {
  left: 2.5rem;
}
section.header .searchSection {
  text-align: center;
  margin-bottom: 3rem;
  background-color: #0000000d;
  border-radius: 5px;
  max-width: 40rem;
  margin: auto;
  padding: 1rem 0.5rem;
  width: 98%;
}
section.header .searchSection i {
  cursor: pointer;
  transition: 0.4s;
  font-size: 25px;
  position: absolute;
  color: #565656;
}
section.header .searchSection i:hover {
  transition: 0.4s;
  color: #00b4bb;
}
section.header .searchSection input[type=text] {
  transition: 0.4s;
  border: none;
  border-bottom: 2px solid #565656;
  background-color: transparent;
  height: 2.5rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 0.2rem;
  color: #565656;
}
section.header .searchSection input[type=text]:focus {
  transition: 0.4s;
  outline: none;
  border-bottom: 2px solid #00b4bb;
}
section.header .searchSection .general {
  max-width: 40rem;
  margin: auto;
  position: relative;
  padding: 0 2rem 0 0.5rem;
}
section.header .searchSection .general i.fa-search {
  height: 2.5rem;
  padding-top: 0.5rem;
  width: 2rem;
  left: 0.5rem;
}
section.header .searchSection .general i.fa-angle-down {
  right: 0.5rem;
  font-size: 40px;
}
section.header .searchSection .general .rotated {
  transition: 0.4s;
  transform: rotate(180deg);
}
section.header .searchSection .advanced {
  transition: 0.4s;
  max-width: 40rem;
  margin: auto;
  position: relative;
  max-height: 40rem;
}
section.header .searchSection .advanced .selected {
  transition: 0.4s;
  color: #00b4bb;
  font-weight: bold;
}
section.header .searchSection .advanced input[type=radio] {
  display: none;
}
section.header .searchSection .advanced label.radioLabel {
  cursor: pointer;
  transition: 0.4s;
  text-align: right;
  width: 100%;
  margin: 0 0.5rem;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
}
section.header .searchSection .advanced .options {
  text-align: right;
  display: flex;
  width: 100%;
}
section.header .searchSection .advanced .tag {
  margin: 1rem auto;
  padding: 0 2rem 0 1rem;
}
section.header .searchSection .advanced .tag input {
  padding: 0 0.1rem;
}
section.header .searchSection .advanced .category,
section.header .searchSection .advanced .orientation {
  padding: 1.5rem 0;
  display: flex;
}
section.header .searchSection .advanced .category .title,
section.header .searchSection .advanced .orientation .title {
  width: 6rem;
  text-align: right;
  margin-right: 2rem;
}
@media (max-width: 580px) {
  section.header .searchSection .advanced .category .title,
section.header .searchSection .advanced .orientation .title {
    margin-right: 1rem;
  }
}
section.header .searchSection .advanced .price {
  padding: 1.5rem 0;
  display: flex;
}
section.header .searchSection .advanced .price .title {
  width: 6rem;
  text-align: right;
  margin-right: 2rem;
}
@media (max-width: 580px) {
  section.header .searchSection .advanced .price .title {
    margin-right: 1rem;
  }
}
section.header .searchSection .advancedHidden {
  transition: 0.4s;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
}

/*#endregion */
/*#region Footer */
section.footer .container-fluid {
  max-width: 90rem;
  margin: auto;
}
section.footer .container-fluid .social {
  padding: 1rem;
  margin: auto;
  text-align: center;
  max-width: 40rem;
  width: 90%;
}
section.footer .container-fluid .social a {
  width: 3rem;
  display: inline-block;
  text-align: center;
}
@media (max-width: 480px) {
  section.footer .container-fluid .social a {
    width: 2rem;
  }
}
section.footer .container-fluid .social a i {
  transition: 0.4s;
  font-size: 25px;
  color: #565656;
}
section.footer .container-fluid .social a i:hover {
  transition: 0.4s;
  color: #00b4bb;
}
section.footer .container-fluid .designedBy {
  border-top: 1px solid #565656;
  padding: 1rem;
  text-align: center;
}
section.footer .container-fluid .designedBy p {
  margin: 0;
  color: #565656;
  font-size: 14px;
}
section.footer .container-fluid .designedBy p span {
  font-weight: bold;
  color: #00b4bb;
}

/*#endregion */
/*#region Home Page*/
section.homePage section.contents .container-fluid .productTabs ul.nav-tabs {
  padding: 2rem 1rem;
}
@media (max-width: 580px) {
  section.homePage section.contents .container-fluid .productTabs ul.nav-tabs {
    padding: 1rem 0;
  }
}
@media (max-width: 580px) {
  section.homePage section.contents .container-fluid .productTabs ul.nav-tabs li.nav-item {
    display: flex;
  }
}
@media (max-width: 480px) {
  section.homePage section.contents .container-fluid .productTabs ul.nav-tabs li.nav-item {
    width: 100%;
  }
}
section.homePage section.contents .container-fluid .productTabs ul.nav-tabs li.nav-item a.nav-link {
  transition: 0.4s;
  background-color: transparent;
  font-size: 30px;
  color: #565656;
  border: none;
}
@media (max-width: 991px) {
  section.homePage section.contents .container-fluid .productTabs ul.nav-tabs li.nav-item a.nav-link {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  section.homePage section.contents .container-fluid .productTabs ul.nav-tabs li.nav-item a.nav-link {
    font-size: 19px;
  }
}
@media (max-width: 580px) {
  section.homePage section.contents .container-fluid .productTabs ul.nav-tabs li.nav-item a.nav-link {
    padding-left: 0;
    padding-right: 0;
    margin: auto;
  }
}
@media (max-width: 480px) {
  section.homePage section.contents .container-fluid .productTabs ul.nav-tabs li.nav-item a.nav-link {
    width: 14rem;
  }
}
section.homePage section.contents .container-fluid .productTabs ul.nav-tabs li.nav-item a.nav-link.active {
  transition: 0.4s;
  background-color: #0000000d;
  border-radius: 5px;
}
section.homePage section.contents .container-fluid .productTabs .tab-content {
  padding: 1rem 1rem 5rem;
}
section.homePage section.contents .container-fluid .productTabs .tab-content .tab-pane .buttons {
  padding-top: 4rem;
  text-align: center;
}
section.homePage section.contents .container-fluid .productTabs .tab-content .tab-pane .buttons button.seeMore {
  position: relative;
  border: 1px solid #565656;
  border-radius: 5px;
  margin: auto;
  font-size: 20px;
  transition: 0.4s;
  background-color: transparent;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  color: #565656;
}
section.homePage section.contents .container-fluid .productTabs .tab-content .tab-pane .buttons button.seeMore i {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  width: 2rem;
  font-size: 30px;
}
section.homePage section.contents .container-fluid .productTabs .tab-content .tab-pane .buttons button.seeMore:hover {
  transition: 0.4s;
  color: #00b4bb;
  border: 1px solid #00b4bb;
}
section.homePage section.contents .container-fluid .productTabs .tab-content .tab-pane .buttons button.seeMore:focus {
  transition: 0.4s;
  outline: none;
}

/*#endregion */
/*#region Login Page */
section.loginPage section.contents .container-fluid .card {
  margin-top: 5rem;
  padding: 1rem;
  max-width: 40rem;
  margin: auto;
  width: 100%;
  border-radius: 5px;
  background-color: #0000000d;
  box-shadow: none;
}
section.loginPage section.contents .container-fluid .card h4 {
  padding: 2rem 0;
}
section.loginPage section.contents .container-fluid .card input {
  transition: 0.4s;
  border: none;
  border-bottom: 2px solid #565656;
  color: #565656;
  background-color: transparent;
  width: 96%;
  margin: 2%;
  height: 2.5rem;
  padding-right: 0.2rem;
}
section.loginPage section.contents .container-fluid .card input.codeInput {
  padding: 0;
  text-align: center;
  font-size: 25px;
  width: 2rem;
  margin: 0 0.5rem;
  display: flex;
}
@media (max-width: 580px) {
  section.loginPage section.contents .container-fluid .card input.codeInput {
    width: 1.5rem;
    margin: 0 0.3rem;
  }
}
section.loginPage section.contents .container-fluid .card input:focus {
  transition: 0.4s;
  outline: none;
  border-bottom: 2px solid #00b4bb;
}
section.loginPage section.contents .container-fluid .card .codeInputs {
  direction: ltr;
  display: flex;
  width: fit-content;
  margin: 0 auto;
}
section.loginPage section.contents .container-fluid .card .buttons {
  position: relative;
  padding: 3rem 0;
}
section.loginPage section.contents .container-fluid .card .buttons button {
  float: left;
  margin-right: 1rem;
  transition: 0.4s;
  font-size: 20px;
  display: block;
  color: #565656;
  background-color: transparent;
  border: 1px solid #565656;
  border-radius: 5px;
  width: 8rem;
  text-align: center;
}
@media (max-width: 580px) {
  section.loginPage section.contents .container-fluid .card .buttons button {
    font-size: 18px;
    width: 6rem;
  }
}
section.loginPage section.contents .container-fluid .card .buttons button:hover {
  transition: 0.4s;
  color: #00b4bb;
  border-color: #00b4bb;
}
section.loginPage section.contents .container-fluid .card.password {
  background-color: transparent;
}
section.loginPage section.contents .container-fluid .card.password ul.nav-tabs {
  padding: 0;
}
section.loginPage section.contents .container-fluid .card.password ul.nav-tabs li.nav-item a.nav-link {
  color: #565656;
  font-size: 20px;
  transition: 0.4s;
  background-color: transparent;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
section.loginPage section.contents .container-fluid .card.password ul.nav-tabs li.nav-item a.nav-link.active {
  background-color: #0000000d;
}
section.loginPage section.contents .container-fluid .card.password .tab-content {
  background-color: #0000000d;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem;
  border: none;
}

/*#endregion */
/*#region Product Detail Page*/
section.detailPage section.contents .container-fluid .top .row .picture {
  padding: 1rem;
}
section.detailPage section.contents .container-fluid .top .row .picture .card {
  position: relative;
  border: none;
  box-shadow: none;
  background-color: transparent;
}
@media (max-width: 991px) {
  section.detailPage section.contents .container-fluid .top .row .picture .card {
    margin-bottom: 2rem;
  }
}
section.detailPage section.contents .container-fluid .top .row .picture .card img {
  max-height: 18rem;
  margin: auto;
  border-radius: 5px;
  box-shadow: 10px 10px 15px 0px #06060642;
  max-width: 18rem;
  width: auto;
}
@media (max-width: 580px) {
  section.detailPage section.contents .container-fluid .top .row .picture .card img {
    max-height: 16rem;
    max-width: 16rem;
  }
}
section.detailPage section.contents .container-fluid .top .row .infos .card {
  height: 100%;
  padding: 1rem;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  background-color: #0000000d;
}
section.detailPage section.contents .container-fluid .top .row .infos .card .info {
  margin: 0 1rem;
  position: relative;
  padding-top: 0.5rem;
  min-height: 3rem;
}
@media (max-width: 767px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .info {
    display: block;
    text-align: center;
  }
}
section.detailPage section.contents .container-fluid .top .row .infos .card .info label {
  font-weight: bold;
  position: absolute;
  right: 0;
}
@media (max-width: 767px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .info label {
    position: relative;
    text-align: center;
  }
}
section.detailPage section.contents .container-fluid .top .row .infos .card .info p {
  position: absolute;
  left: 0;
}
@media (max-width: 767px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .info p {
    position: relative;
    text-align: center;
  }
}
section.detailPage section.contents .container-fluid .top .row .infos .card .sizes {
  display: flex;
}
@media (max-width: 1180px) and (min-width: 992px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .sizes {
    min-height: 6rem;
  }
}
@media (max-width: 767px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .sizes {
    min-height: 6rem;
    display: block;
    text-align: center;
  }
}
section.detailPage section.contents .container-fluid .top .row .infos .card .sizes label {
  width: 7rem;
  height: 2rem;
}
@media (max-width: 767px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .sizes label {
    position: relative;
  }
}
section.detailPage section.contents .container-fluid .top .row .infos .card .sizes .options {
  text-align: left;
  display: inline-block;
  width: 100%;
  position: absolute;
  padding-right: 7rem;
}
@media (max-width: 767px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .sizes .options {
    position: relative;
    text-align: center;
    padding: 0;
  }
}
section.detailPage section.contents .container-fluid .top .row .infos .card .sizes .options input[type=radio] {
  display: none;
}
section.detailPage section.contents .container-fluid .top .row .infos .card .sizes .options label.sizeOption {
  font-weight: lighter;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  transition: 0.4s;
  height: 2rem;
  padding-top: 0.25rem;
  text-align: right;
  width: 23.2%;
  margin: 0 0.4rem 0.4rem 0;
  text-align: center;
  border: 1px solid #565656;
  border-radius: 5px;
}
@media (max-width: 1180px) and (min-width: 992px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .sizes .options label.sizeOption {
    width: 47%;
  }
}
@media (max-width: 767px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .sizes .options label.sizeOption {
    text-align: center;
    width: 15rem;
  }
}
@media (max-width: 580px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .sizes .options label.sizeOption {
    width: 12rem;
  }
}
section.detailPage section.contents .container-fluid .top .row .infos .card .sizes .options .selected {
  transition: 0.4s;
  color: #00b4bb;
  border: 1px solid #00b4bb !important;
  font-weight: bold;
}
section.detailPage section.contents .container-fluid .top .row .infos .card .price p {
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  height: 0;
  margin: 0;
}
section.detailPage section.contents .container-fluid .top .row .infos .card .price .showPrice {
  transition: 0.4s;
  opacity: 1;
  visibility: visible;
  height: auto;
  margin: auto;
}
section.detailPage section.contents .container-fluid .top .row .infos .card .buttons {
  padding-top: 1rem;
  text-align: left;
}
@media (max-width: 767px) {
  section.detailPage section.contents .container-fluid .top .row .infos .card .buttons {
    text-align: center;
  }
}
section.detailPage section.contents .container-fluid .top .row .infos .card .buttons button {
  position: relative;
  border: 1px solid #565656;
  border-radius: 5px;
  margin: auto auto 0.5rem;
  font-size: 18px;
  transition: 0.4s;
  background-color: transparent;
  padding: 0.5rem;
  width: 12rem;
  color: #565656;
}
section.detailPage section.contents .container-fluid .top .row .infos .card .buttons button:hover {
  transition: 0.4s;
  color: #00b4bb;
  border: 1px solid #00b4bb;
}
section.detailPage section.contents .container-fluid .description {
  margin-top: 2rem;
  border-radius: 5px;
  background-color: #0000000d;
  padding: 2rem;
}
section.detailPage section.contents .container-fluid .description h4 {
  padding: 0 0 1rem;
}
section.detailPage section.contents .container-fluid .description p {
  text-align: justify;
}
section.detailPage section.contents .container-fluid .related {
  padding: 2rem;
}
section.detailPage section.contents .container-fluid .related h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: -1rem;
}
section.detailPage section.contents .container-fluid .related .owl-carousel {
  position: relative;
}
section.detailPage section.contents .container-fluid .related .owl-carousel .owl-item {
  /*padding: 1rem ;*/
  position: relative;
  height: 16rem;
}
section.detailPage section.contents .container-fluid .related .owl-carousel .owl-item img {
  transition: 0.4s;
  max-height: 12rem;
  margin: auto;
  border-radius: 5px;
  box-shadow: 10px 10px 15px 0px #06060642;
  max-width: 12rem;
  width: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.detailPage section.contents .container-fluid .related .owl-carousel .owl-item img:hover {
  transition: 0.4s;
  top: 49%;
  left: 49%;
  transform: translate(-50%, -50%);
}
section.detailPage section.contents .container-fluid .related .owl-carousel .owl-nav {
  position: absolute;
  width: 100%;
  top: 32%;
}
section.detailPage section.contents .container-fluid .related .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: -1.5rem;
}
section.detailPage section.contents .container-fluid .related .owl-carousel .owl-nav .owl-prev span {
  transition: 0.4s;
  font-size: 4rem;
}
section.detailPage section.contents .container-fluid .related .owl-carousel .owl-nav .owl-prev span:hover {
  transition: 0.4s;
  color: #00b4bb;
}
section.detailPage section.contents .container-fluid .related .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: -1.5rem;
}
section.detailPage section.contents .container-fluid .related .owl-carousel .owl-nav .owl-next span {
  transition: 0.4s;
  font-size: 4rem;
}
section.detailPage section.contents .container-fluid .related .owl-carousel .owl-nav .owl-next span:hover {
  transition: 0.4s;
  color: #00b4bb;
}

/*#endregion */
/*#region Upload Page */
Section.uploadPage section.contents {
  padding-top: 2rem;
}
Section.uploadPage section.contents .container-fluid .row {
  padding: 1rem 1rem 2rem;
  background-color: #0000000d;
  border-radius: 5px;
  margin: auto;
  width: 100%;
  max-width: 40rem;
}
Section.uploadPage section.contents .container-fluid .row .info h4 {
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}
Section.uploadPage section.contents .container-fluid .row .info label {
  font-size: 20px;
}
@media (max-width: 480px) {
  Section.uploadPage section.contents .container-fluid .row .info label {
    font-size: 18px;
  }
}
Section.uploadPage section.contents .container-fluid .row .info input {
  display: block;
  margin-bottom: 3rem;
  transition: 0.4s;
  height: 2.5rem;
  width: 100%;
  padding-right: 0.4rem;
  border: none;
  border-bottom: 2px solid #565656;
  color: #565656;
  background-color: transparent;
}
Section.uploadPage section.contents .container-fluid .row .info input:focus {
  transition: 0.4s;
  outline: none;
  border-bottom: 2px solid #00b4bb;
}
Section.uploadPage section.contents .container-fluid .row .info input.nameInput {
  max-width: 20rem;
}
Section.uploadPage section.contents .container-fluid .row .info textarea {
  margin-top: 1rem;
  transition: 0.4s;
  height: 9rem;
  resize: none;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  color: #565656;
}
Section.uploadPage section.contents .container-fluid .row .info textarea:focus {
  outline: none;
}
Section.uploadPage section.contents .container-fluid .row .uploadPic {
  padding: 1rem;
}
Section.uploadPage section.contents .container-fluid .row .uploadPic label {
  font-size: 20px;
  margin-bottom: 0.5rem;
}
Section.uploadPage section.contents .container-fluid .row .uploadPic input[type=file] {
  visibility: hidden;
  width: 12rem;
  height: 4rem;
  position: relative;
}
Section.uploadPage section.contents .container-fluid .row .uploadPic input[type=file]::before {
  visibility: visible;
  transition: 0.4s;
  content: "تصویر خود را آپلود کنید";
  font-size: 18px;
  position: absolute;
  background-color: transparent;
  padding: 0.25rem 1rem;
  width: 12rem;
  cursor: pointer;
  text-align: center;
  color: #565656;
  border: 1px solid #565656;
  border-radius: 5px;
}
Section.uploadPage section.contents .container-fluid .row .uploadPic input[type=file]:hover::before {
  transition: 0.4s;
  color: #00b4bb;
  border: 1px solid #00b4bb;
}
Section.uploadPage section.contents .container-fluid .row .buttons {
  padding: 1rem;
  text-align: center;
}
Section.uploadPage section.contents .container-fluid .row .buttons button {
  padding: 0.5rem;
  float: left;
  transition: 0.4s;
  font-size: 20px;
  display: block;
  color: #565656;
  background-color: transparent;
  border: 1px solid #565656;
  border-radius: 5px;
  width: 10rem;
  text-align: center;
}
@media (max-width: 580px) {
  Section.uploadPage section.contents .container-fluid .row .buttons button {
    font-size: 18px;
    width: 8rem;
  }
}
Section.uploadPage section.contents .container-fluid .row .buttons button:hover {
  transition: 0.4s;
  color: #00b4bb;
  border-color: #00b4bb;
}

/*#endregion */
/*#region Search Page */
section.searchPage section.header {
  margin: auto;
  max-width: 90rem;
  position: fixed;
  z-index: 90;
  background-color: #f0f0f0;
}
section.searchPage section.contents {
  padding-top: 8rem;
}
section.searchPage section.contents .container-fluid .row .result {
  padding: 1rem;
}

/*#endregion */
/*#region Cart Page */
/*#endregion */
/*#region Dashboard Page */
/*#endregion */
/*#region User Page */
/*#endregion */
/*#region About Us Page */
/*#endregion */
/*#region Contact Us Page */
/*#endregion */

/*# sourceMappingURL=custom.css.map */
