$blue-color: #0098c5;
$body-color: #f5f5f5;//#dedede;
$pink-color: #B03066;
$gray-color: #f5f5f5;//#dedede;
$text-color: #333333;

$error-color: #d14774;
$success-color: #0098c5;

$image-shadow: 10px 10px 15px 0px #06060642;
$box-shadow: 6px 6px 8px -5px #cacaca, -2px -2px 10px -2px white;
$hover-shadow: 6px 6px 8px -5px $blue-color, -2px -2px 10px -2px white;
$pink-shadow: 6px 6px 8px -5px $pink-color, -2px -2px 10px -2px white;
$error-shadow: -6px 6px 8px -5px #d14774, 2px -2px 10px -2px white;
$success-shadow: -6px 6px 8px -5px $blue-color, 2px -2px 10px -2px white;

$radius: 12px;

$font: IRANSans;
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSans4/WebFonts/fonts/eot/IRANSansWeb.eot');
    src: url('../fonts/IRANSans4/WebFonts/fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
    /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IRANSans4/WebFonts/fonts/woff/IRANSansWeb.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IRANSans4/WebFonts/fonts/woff/IRANSansWeb.ttf') format('truetype');
}

@mixin xl {
    @media (min-width: 1440px) {
        @content;
    }
}

@mixin lg {
    @media (min-width: 991px) {
        @content;
    }
}

@mixin md {
    @media (max-width: 991px) {
        @content;
    }
}

@mixin sm {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin xs {
    @media (max-width: 580px) {
        @content;
    }
}

@mixin xxs {
    @media (max-width: 480px) {
        @content;
    }
}

