$blue-color: #00afb5;
$body-color: #d6d6d6;
$pink-color: #6c008e;
$gray-color: #d6d6d6;
$text-color: #333333;

$error-color: #d14774;
$success-color: #00afb5;

$image-shadow: 10px 10px 15px 0px #06060642;
$box-shadow: 7px 7px 8px -3px #b0b0b0;
$hover-shadow: 7px 7px 8px -3px $blue-color;
$pink-shadow: 7px 7px 8px -3px $pink-color;
$error-shadow: -7px 7px 8px -3px #d14774;
$success-shadow: -7px 7px 8px -3px $blue-color;

$radius: 8px;

$font: IRANSans;
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSans4/WebFonts/fonts/eot/IRANSansWeb_Medium.eot');
    src: url('../fonts/IRANSans4/WebFonts/fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
    /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IRANSans4/WebFonts/fonts/woff/IRANSansWeb_Medium.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IRANSans4/WebFonts/fonts/woff/IRANSansWeb_Medium.ttf') format('truetype');
}

@mixin xl {
    @media (min-width: 1440px) {
        @content;
    }
}

@mixin lg {
    @media (min-width: 991px) {
        @content;
    }
}

@mixin md {
    @media (max-width: 991px) {
        @content;
    }
}

@mixin sm {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin xs {
    @media (max-width: 580px) {
        @content;
    }
}

@mixin xxs {
    @media (max-width: 480px) {
        @content;
    }
}

