@import "asset.scss";
/*#region General */
body {
    background-color: $body-color;
    color: $text-color;
    margin: 0;
    padding: 0;
    font-family: $font;
}

.owl-carousel {
    direction: ltr;
}

::placeholder {
    opacity: 0.8;
}

@-webkit-keyframes autofill {
    0%,100% {
        color: $text-color;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-delay: 0.4s;
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

input {
    padding-right: 0.4rem;
    color: $text-color;
}

.inputError {
    transition: 0.4s;
    border-bottom: 2px solid $error-color;
    color: $error-color;
}

.page {
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
}

section.contents {
    padding: 5rem 0;

    @include md {
        padding: 2rem 0;
    }
}

/*#endregion */

/*#region Notification*/
.notif {
    padding: 1rem;
    transition: 0.4s;
    position: absolute;
    top: 5rem;
    right: -100rem;
    border-top-left-radius: $radious;
    border-bottom-left-radius: $radious;
    background-color: $gray-color;
    z-index: 100;

    &.error {
        p {
            margin-bottom: 0;
            color: $error-color;
        }
    }

    &.success {
        p {
            margin-bottom: 0;
            color: $success-color;
        }
    }
}

.showNotif {
    transition: 0.4s;
    right: 0;
}
/*#endregion */

/*#region Product Cards */
.hiddenItem {
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    height: 0 !important;
    margin: 0 !important;
}

.card.product {
    transition: 0.4s;
    box-shadow: none;
    background-color: transparent;
    height: 16rem;
    padding: 0;
    border-radius: $radious;
    position: relative;
    margin: 1rem 0.5rem;

    .card-body {
        padding: 0;
        position: relative;

        img {
            transition: 0.4s;
            max-height: 12rem;
            margin: auto;
            border-radius: 5px;
            box-shadow: $image-shadow;
            max-width: 15rem;
            width: auto;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &:hover {
                transition: 0.4s;
                top: 49%;
                left: 49%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .card-footer {
        height: 4rem;
        background-color: transparent;
        border: none;
        padding: 1rem 0 0;

        p {
            color: $text-color;
            text-align: center;
            height: 1.5rem;
            margin: 0;
        }
    }
}
/*#endregion */

/*#region Header*/
section.header {
    width: 100%;

    .navbar {
        box-shadow: none;
        padding: 1rem 0.5rem 0;

        .container-fluid {
            padding: 0;

            i {
                transition: 0.4s;
                font-size: 25px;
                color: $text-color;
            }

            i:hover {
                transition: 0.4s;
                color: $blue-color;
            }

            .navbar-collapse {
                ul.navbar-nav {
                    padding: 0;

                    li.nav-item {
                        width: fit-content;
                        padding: 0 0.75rem;
                        text-align: right;

                        a.nav-link {
                            padding: 0;
                        }
                    }
                }
            }

            .leftSide {
                position: absolute;
                text-align: left;
                left: 1rem;
                top: 1rem;
                height: 3rem;

                a {
                    position: absolute;
                    transition: 0.4s;

                    &.cart {
                        left: 0rem;

                        span {
                            position: absolute;
                            left: 0.8rem;
                            top: 1rem;
                            height: 1rem;
                            background-color: $body-color;
                            color: $blue-color;
                            border-radius: 1px;
                        }
                    }

                    &.profile {
                        left: 2.5rem;
                    }
                }
            }
        }
    }

    .searchSection {
        text-align: center;
        margin-bottom: 3rem;
        background-color: #0000000d;
        border-radius: 5px;
        max-width: 40rem;
        margin: auto;
        padding: 1rem 0.5rem;
        width: 98%;
        @include xxs {
            width: 100%;
        }

        i {
            cursor: pointer;
            transition: 0.4s;
            font-size: 25px;
            position: absolute;
            color: $text-color;

            &:hover {
                transition: 0.4s;
                color: $blue-color;
            }
        }

        input[type=text] {
            transition: 0.4s;
            border: none;
            border-bottom: 2px solid $text-color;
            background-color: transparent;
            height: 2.5rem;
            width: 100%;
            padding-left: 2rem;
            padding-right: 0.2rem;
            color: $text-color;

            &:focus {
                transition: 0.4s;
                outline: none;
                border-bottom: 2px solid $blue-color;
            }
        }

        .general {
            max-width: 40rem;
            margin: auto;
            position: relative;
            padding: 0 2rem 0 0.5rem;

            i {
                &.fa-search {
                    height: 2.5rem;
                    padding-top: 0.5rem;
                    width: 2rem;
                    left: 0.5rem;
                }

                &.fa-angle-down {
                    right: 0.5rem;
                    font-size: 40px;
                }
            }

            .rotated {
                transition: 0.4s;
                transform: rotate(180deg);
            }
        }

        .advanced {
            transition: 0.4s;
            max-width: 40rem;
            margin: auto;
            position: relative;
            max-height: 40rem;

            .selected {
                transition: 0.4s;
                color: $blue-color;
                font-weight: bold;
            }

            input[type=radio] {
                display: none;
            }

            label.radioLabel {
                cursor: pointer;
                transition: 0.4s;
                text-align: right;
                width: 100%;
                margin: 0 0.5rem;
                text-align: center;
                border: 1px solid;
                border-radius: $radious;
            }

            .options {
                text-align: right;
                display: flex;
                width: 100%;
            }

            .tag {
                margin: 1rem auto;
                padding: 0 2rem 0 1rem;

                input {
                    padding: 0 0.1rem;
                }
            }

            .category,
            .orientation {
                padding: 1.5rem 0;
                display: flex;

                .title {
                    width: 6rem;
                    text-align: right;
                    margin-right: 2rem;

                    @include xs {
                        margin-right: 1rem;
                    }
                }
            }

            .price {
                padding: 1.5rem 0;
                display: flex;

                .title {
                    width: 6rem;
                    text-align: right;
                    margin-right: 2rem;

                    @include xs {
                        margin-right: 1rem;
                    }
                }
            }
        }

        .advancedHidden {
            transition: 0.4s;
            max-height: 0;
            visibility: hidden;
            opacity: 0;
        }
    }
}
/*#endregion */

/*#region Footer */
section.footer {
    .container-fluid {
        max-width: 90rem;
        margin: auto;

        .social {
            padding: 1rem;
            margin: auto;
            text-align: center;
            max-width: 40rem;
            width: 90%;

            a {
                width: 3rem;
                display: inline-block;
                text-align: center;

                @include xxs {
                    width: 2rem;
                }

                i {
                    transition: 0.4s;
                    font-size: 25px;
                    color: $text-color;
                }

                i:hover {
                    transition: 0.4s;
                    color: $blue-color;
                }
            }
        }

        .designedBy {
            border-top: 1px solid $text-color;
            padding: 1rem;
            text-align: center;

            p {
                margin: 0;
                color: $text-color;
                font-size: 14px;

                span {
                    font-weight: bold;
                    color: $blue-color;
                }
            }
        }
    }
}
/*#endregion */

/*#region Home Page*/
section.homePage {
    section.contents {
        .container-fluid {
            .productTabs {
                ul.nav-tabs {
                    padding: 2rem 1rem;

                    @include xs {
                        padding: 1rem 0;
                    }

                    li.nav-item {
                        @include xs {
                            display: flex;
                        }

                        @include xxs {
                            width: 100%;
                        }

                        a.nav-link {
                            transition: 0.4s;
                            background-color: transparent;
                            font-size: 30px;
                            color: $text-color;
                            border: none;

                            @include md {
                                font-size: 25px;
                            }

                            @include sm {
                                font-size: 19px;
                            }

                            @include xs {
                                padding-left: 0;
                                padding-right: 0;
                                margin: auto;
                            }

                            @include xxs {
                                width: 14rem;
                            }

                            &.active {
                                transition: 0.4s;
                                background-color: $gray-color;
                                border-radius: $radious;
                            }
                        }
                    }
                }

                .tab-content {
                    padding: 1rem 1rem 5rem;

                    .tab-pane {

                        .buttons {
                            padding-top: 4rem;
                            text-align: center;

                            button.seeMore {
                                position: relative;
                                border: 1px solid $text-color;
                                border-radius: $radious;
                                margin: auto;
                                font-size: 20px;
                                transition: 0.4s;
                                background-color: transparent;
                                padding: 0.5rem 1rem 0.5rem 2.5rem;
                                color: $text-color;

                                i {
                                    position: absolute;
                                    left: 0.5rem;
                                    top: 0.5rem;
                                    width: 2rem;
                                    font-size: 30px;
                                }

                                &:hover {
                                    transition: 0.4s;
                                    color: $blue-color;
                                    border: 1px solid $blue-color;
                                }

                                &:focus {
                                    transition: 0.4s;
                                    outline: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*#endregion */

/*#region Login Page */
section.loginPage {
    section.contents {
        .container-fluid {
            @include xxs {
                padding: 0;
            }
            .card {
                margin-top: 5rem;
                padding: 2rem;
                max-width: 40rem;
                margin: auto;
                width: 100%;
                border-radius: $radious;
                background-color: $gray-color;
                box-shadow: none;

                @include sm {
                    padding: 2rem 1rem;
                }

                h4 {
                    padding: 2rem 0;

                    @include xxs {
                        font-size: 1.3rem;
                    }
                }

                input {
                    transition: 0.4s;
                    border: none;
                    border-bottom: 2px solid $text-color;
                    color: $text-color;
                    background-color: transparent;
                    width: 100%;
                    height: 2.5rem;
                    margin-bottom: 2rem;

                    &.codeInput {
                        padding: 0;
                        text-align: center;
                        font-size: 25px;
                        width: 2rem;
                        margin: 0 0.5rem;
                        display: flex;

                        @include xs {
                            width: 1.5rem;
                            margin: 0 0.3rem;
                        }
                    }
                }

                input:focus {
                    transition: 0.4s;
                    outline: none;
                    border-bottom: 2px solid $blue-color;
                }

                .codeInputs {
                    direction: ltr;
                    display: flex;
                    width: fit-content;
                    margin: 0 auto;
                }

                .buttons {
                    position: relative;
                    padding: 3rem 0;

                    button {
                        float: left;
                        margin-right: 1rem;
                        transition: 0.4s;
                        font-size: 20px;
                        display: block;
                        color: $text-color;
                        background-color: transparent;
                        border: 1px solid $text-color;
                        border-radius: $radious;
                        width: 8rem;
                        text-align: center;

                        @include xs {
                            font-size: 18px;
                            width: 6rem;
                        }

                        &:hover {
                            transition: 0.4s;
                            color: $blue-color;
                            border-color: $blue-color;
                        }
                    }
                }
                &.code {
                    .buttons {
                        padding-bottom: 0;
                        float: left;
                        max-width: 20rem;
                        button.codeAgain {
                            margin-top: 1rem;
                            width: 17rem;
                            @include xs {
                                width: 13rem;
                            }
                        }
                    }
                }
                &.password {
                    padding: 0;
                    background-color: transparent;

                    ul.nav-tabs {
                        padding: 0;

                        li.nav-item {
                            a.nav-link {
                                color: $text-color;
                                font-size: 20px;
                                transition: 0.4s;
                                background-color: transparent;
                                border: none;
                                border-top-left-radius: $radious;
                                border-top-right-radius: $radious;

                                &.active {
                                    background-color: $gray-color;
                                }
                            }
                        }
                    }

                    .tab-content {
                        background-color: $gray-color;
                        border-bottom-left-radius: $radious;
                        border-bottom-right-radius: $radious;
                        padding: 2rem;
                        border: none;

                        @include sm {
                            padding: 2rem 1rem;
                        }

                    }
                }
            }
        }
    }
}
/*#endregion */

/*#region Product Detail Page*/
section.detailPage {
    section.contents {
        .container-fluid {
            .top {
                .row {
                    .picture {
                        padding: 1rem;

                        .card {
                            position: relative;
                            border: none;
                            box-shadow: none;
                            background-color: transparent;

                            @include md {
                                margin-bottom: 2rem;
                            }

                            img {
                                max-height: 18rem;
                                margin: auto;
                                border-radius: 5px;
                                box-shadow: $image-shadow;
                                max-width: 18rem;
                                width: auto;

                                @include xs {
                                    max-height: 16rem;
                                    max-width: 16rem;
                                }
                            }
                        }
                    }

                    .infos {
                        @include xxs {
                            padding: 0;
                        }

                        .card {
                            height: 100%;
                            padding: 1rem;
                            border: none;
                            box-shadow: none;
                            border-radius: $radious;
                            background-color: $gray-color;

                            .info {
                                margin: 0 1rem;
                                position: relative;
                                padding-top: 0.5rem;
                                min-height: 3rem;

                                @include sm {
                                    display: block;
                                    text-align: center;
                                }

                                label {
                                    font-weight: bold;
                                    position: absolute;
                                    right: 0;

                                    @include sm {
                                        position: relative;
                                        text-align: center;
                                    }
                                }

                                p {
                                    position: absolute;
                                    left: 0;

                                    @include sm {
                                        position: relative;
                                        text-align: center;
                                    }
                                }
                            }

                            .name {
                            }

                            .artist {
                            }

                            .tags {
                            }

                            .sizes {
                                display: flex;

                                @media (max-width: 1180px) and (min-width: 992px) {
                                    min-height: 6rem;
                                }

                                @include sm {
                                    min-height: 6rem;
                                    display: block;
                                    text-align: center;
                                }

                                label {
                                    width: 7rem;
                                    height: 2rem;

                                    @include sm {
                                        position: relative;
                                    }
                                }

                                .options {
                                    text-align: left;
                                    display: inline-block;
                                    width: 100%;
                                    position: absolute;
                                    padding-right: 7rem;

                                    @include sm {
                                        position: relative;
                                        text-align: center;
                                        padding: 0;
                                    }

                                    input[type=radio] {
                                        display: none;
                                    }

                                    label.sizeOption {
                                        font-weight: lighter;
                                        font-size: 14px;
                                        position: relative;
                                        cursor: pointer;
                                        transition: 0.4s;
                                        height: 2rem;
                                        padding-top: 0.25rem;
                                        text-align: right;
                                        width: 23.2%;
                                        margin: 0 0.4rem 0.4rem 0;
                                        text-align: center;
                                        border: 1px solid $text-color;
                                        border-radius: $radious;

                                        @media (max-width: 1180px) and (min-width: 992px) {
                                            width: 47%;
                                        }

                                        @include sm {
                                            text-align: center;
                                            width: 15rem;
                                        }

                                        @include xs {
                                            width: 12rem;
                                        }
                                    }

                                    .selected {
                                        transition: 0.4s;
                                        color: $blue-color;
                                        border: 1px solid $blue-color !important;
                                        font-weight: bold;
                                    }
                                }
                            }

                            .price {
                                p {
                                    transition: 0.4s;
                                    opacity: 0;
                                    visibility: hidden;
                                    height: 0;
                                    margin: 0;
                                }

                                .showPrice {
                                    transition: 0.4s;
                                    opacity: 1;
                                    visibility: visible;
                                    height: auto;
                                    margin: auto;
                                }
                            }

                            .buttons {
                                padding-top: 1rem;
                                text-align: left;

                                @include sm {
                                    text-align: center;
                                }

                                button {
                                    position: relative;
                                    border: 1px solid $text-color;
                                    border-radius: $radious;
                                    margin: auto auto 0.5rem;
                                    font-size: 18px;
                                    transition: 0.4s;
                                    background-color: transparent;
                                    padding: 0.5rem;
                                    width: 12rem;
                                    color: $text-color;

                                    &:hover {
                                        transition: 0.4s;
                                        color: $blue-color;
                                        border: 1px solid $blue-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .description {
                margin-top: 2rem;
                border-radius: $radious;
                background-color: $gray-color;
                padding: 2rem;

                @include xxs {
                    padding: 0;
                    background-color: transparent;
                }

                .row {
                    @include xxs {
                        background-color: $gray-color;
                        padding: 2rem 1rem;
                        border-radius: $radious;
                    }



                    h4 {
                        padding: 0 0 1rem;
                    }

                    p {
                        text-align: justify;
                    }
                }
            }

            .related {
                padding: 2rem;

                h2 {
                    text-align: center;
                    margin-top: 2rem;
                    margin-bottom: -1rem;
                }

                .owl-carousel {
                    position: relative;


                    .owl-item {
                        /*padding: 1rem ;*/
                        position: relative;
                        height: 16rem;


                        img {
                            transition: 0.4s;
                            max-height: 12rem;
                            margin: auto;
                            border-radius: 5px;
                            box-shadow: $image-shadow;
                            max-width: 12rem;
                            width: auto;
                            margin: 0;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);

                            &:hover {
                                transition: 0.4s;
                                top: 49%;
                                left: 49%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }

                    .owl-nav {
                        position: absolute;
                        width: 100%;
                        top: 32%;

                        .owl-prev {
                            position: absolute;
                            left: -1.5rem;

                            span {
                                transition: 0.4s;
                                font-size: 4rem;

                                &:hover {
                                    transition: 0.4s;
                                    color: $blue-color;
                                }
                            }
                        }

                        .owl-next {
                            position: absolute;
                            right: -1.5rem;

                            span {
                                transition: 0.4s;
                                font-size: 4rem;

                                &:hover {
                                    transition: 0.4s;
                                    color: $blue-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*#endregion */

/*#region Upload Page */
Section.uploadPage {
    section.contents {
        padding-top: 2rem;

        .container-fluid {

            .row {
                padding: 1rem 1rem 2rem;
                background-color: $gray-color;
                border-radius: $radious;
                margin: auto;
                width: 100%;
                max-width: 40rem;

                .info {
                    h4 {
                        text-align: center;
                        padding: 1rem;
                        font-weight: bold;

                        @include xs {
                            padding: 1rem 0;
                        }
                    }

                    label {
                        font-size: 20px;

                        @include xxs {
                            font-size: 18px;
                        }
                    }

                    input {
                        display: block;
                        margin-bottom: 3rem;
                        transition: 0.4s;
                        height: 2.5rem;
                        width: 100%;
                        padding-right: 0.4rem;
                        border: none;
                        border-bottom: 2px solid $text-color;
                        color: $text-color;
                        background-color: transparent;

                        &:focus {
                            transition: 0.4s;
                            outline: none;
                            border-bottom: 2px solid $blue-color;
                        }

                        &.nameInput {
                            max-width: 20rem;
                        }
                    }

                    textarea {
                        transition: 0.4s;
                        height: 9rem;
                        resize: none;
                        background-color: $body-color;
                        border: none;
                        border-radius: $radious;
                        width: 100%;
                        margin-bottom: 3rem;
                        padding: 0.5rem;
                        color: $text-color;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                .uploadPic {
                    margin-bottom: 3rem;

                    label {
                        font-size: 1.2rem;
                        margin-bottom: 0.5rem;
                    }

                    input[type=file] {
                        padding: 0;
                        visibility: hidden;
                        width: 12rem;
                        height: 2.5rem;
                        position: relative;

                        &::before {
                            visibility: visible;
                            transition: 0.4s;
                            content: "اثر خود را آپلود کنید";
                            font-size: 18px;
                            position: absolute;
                            background-color: transparent;
                            padding: 0.25rem 1rem;
                            width: 12rem;
                            cursor: pointer;
                            text-align: center;
                            color: $text-color;
                            border: 1px solid $text-color;
                            border-radius: $radious;
                        }

                        &:hover {
                            &::before {
                                transition: 0.4s;
                                color: $blue-color;
                                border: 1px solid $blue-color;
                            }
                        }
                    }
                }

                .pricing {
                    margin-bottom: 3rem;
                    max-width: 20rem;

                    input {
                        transition: 0.4s;
                        background-color: transparent;
                        border: none;
                        border-bottom: 2px solid $text-color;
                        width: 10rem;
                        height: 100%;
                        padding-left: 3rem;

                        &:focus {
                            transition: 0.4s;
                            outline: none;
                            border-bottom: 2px solid $blue-color;
                        }
                    }

                    label {
                        color: $text-color;
                        transition: 0.4s;

                        &.toman {
                            margin-right: -2.5rem;
                            opacity: 0;
                        }

                        &.free {
                            padding: 0.1rem 0.5rem;
                            border: 1px solid $text-color;
                            border-radius: $radious;
                            cursor: pointer;
                            float: left;
                        }
                    }

                    .selected {
                        transition: 0.4s;
                        border: 1px solid $blue-color !important;
                        color: $blue-color;
                        font-weight: bold;
                    }

                    .shown {
                        transition: 0.4s;
                        opacity: 1 !important;
                    }
                }

                .category {
                    max-width: 20rem;
                    display: flex;
                    margin-bottom: 3rem;

                    .title {
                        width: 3rem;
                        text-align: right;
                    }

                    .selected {
                        transition: 0.4s;
                        color: $blue-color;
                        font-weight: bold;
                    }

                    label.radioLabel {
                        cursor: pointer;
                        transition: 0.4s;
                        text-align: right;
                        width: 100%;
                        margin: 0 0.5rem 0 0;
                        text-align: center;
                        border: 1px solid;
                        border-radius: $radious;
                    }

                    .options {
                        text-align: right;
                        display: flex;
                        width: 100%;
                    }
                }

                .buttons {
                    padding: 2rem 1rem 0;
                    text-align: center;

                    button {
                        padding: 0.5rem;
                        float: left;
                        transition: 0.4s;
                        font-size: 20px;
                        display: block;
                        color: $text-color;
                        background-color: transparent;
                        border: 1px solid $text-color;
                        border-radius: $radious;
                        width: 10rem;
                        text-align: center;

                        @include xs {
                            font-size: 18px;
                            width: 8rem;
                        }

                        &:hover {
                            transition: 0.4s;
                            color: $blue-color;
                            border-color: $blue-color;
                        }
                    }
                }
            }
        }
    }
}
/*#endregion */

/*#region Search Page */
section.searchPage {
    section.header {
        margin: auto;
        max-width: 90rem;
        position: fixed;
        z-index: 90;
        background-color: $body-color;
    }

    section.contents {
        padding-top: 8rem;

        .container-fluid {
            .row {
                .result {
                    padding: 1rem;
                }
            }
        }
    }
}
/*#endregion */

/*#region Cart Page */
section.cartPage {
}
/*#endregion */

/*#region Dashboard Page */
section.dashboardPage {
}
/*#endregion */

/*#region User Page */
section.userPage {
}
/*#endregion */

/*#region About Us Page */
section.aboutUsPage {
}
/*#endregion */

/*#region Contact Us Page */
section.contactUsPage {
}
/*#endregion */
